<template>
  <div>
    <adm-template>
      <form-core
        v-on:onSubmit="onSubmitPadrao"
        v-on:onReset="onReset"
        v-on:onIrParaLista="onIrParaLista"
        v-on:onDelete="onDelete"
        :registroId="form.id"
      >
        <b-row class="p-5">

          <b-col cols="12" sm="6">
            <form-group :validator="$v.form.data_matricula" label="Data Matricula">
              <b-form-input
                type="date"
                slot-scope="{ attrs, listeners }"
                placeholder="01/02/1990"
                v-bind="attrs"
                v-on="listeners"
                v-model="form.data_matricula"
              />
            </form-group>
          </b-col>

          <b-col cols="12" sm="6">
            <form-group :validator="$v.form.status" label="Status">
              <b-form-select 
                slot-scope="{ attrs, listeners }" 
                v-bind="attrs" 
                v-on="listeners"
                text-field="valor"
                value-field="id"
                v-model="form.status"
                :options="statusOptions"
                :disabled="statusAtual === 'C' || statusAtual === 'D' || statusAtual === 'F' ? true : false"
              ></b-form-select>
            </form-group>
          </b-col>

          <b-col cols="12" md="6">
            <form-group :validator="$v.form.aluno_id" label="Aluno">
              <b-form-select
                slot-scope="{ attrs, listeners }"
                v-bind="attrs"
                v-on="listeners"
                text-field="nome"
                value-field="id"
                v-model="form.aluno_id"
                :options="optionsAluno"
              ></b-form-select>
            </form-group>
          </b-col>

          <b-col cols="12" md="6">
            <form-group :validator="$v.form.curso_id" label="Curso">
              <b-form-select
                slot-scope="{ attrs, listeners }"
                v-bind="attrs"
                v-on="listeners"
                text-field="nome"
                value-field="id"
                v-model="form.curso_id"
                :options="optionsCurso"
              ></b-form-select>
            </form-group>
          </b-col>

        </b-row>
      </form-core>
    </adm-template>
  </div>
</template>
<script src="./MatriculaForm.js"></script>
