<template>
    <div>
        <adm-template>
            <grid-core :colunasGrid="colunasGrid" :model="modelPadrao"></grid-core>
        </adm-template>
    </div>
</template>
<script src="./MatriculaGrid.js"></script>
