// Bootstrap functions
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/bootstrap';


@font-face {
    font-family: 'Avenir';
    src: url("/fonts/Avenir-Light.woff") format('woff')
        url("/fonts/Avenir-Light.woff2") format('woff2');
		font-weight: 300;
}

@font-face {
    font-family: 'Avenir';
    src: url("/fonts/Avenir-Book.woff") format('woff')
        url("/fonts/Avenir-Book.woff2") format('woff2');
		font-weight: 400;
}

@font-face {
    font-family: 'Avenir';
    src: url("/fonts/Avenir-Roman.woff") format('woff')
        url("/fonts/Avenir-Roman.woff2") format('woff2');
		font-weight: 500;
}

@font-face {
    font-family: 'Avenir';
    src: url("/fonts/Avenir-Medium.woff") format('woff')
        url("/fonts/Avenir-Medium.woff2") format('woff2');
		font-weight: 600;
}

@font-face {
    font-family: 'Avenir';
    src: url("/fonts/Avenir-Heavy.woff") format('woff')
        url("/fonts/Avenir-Heavy.woff2") format('woff2');
		font-weight: 700;
}

@font-face {
    font-family: 'Avenir';
    src: url("/fonts/Avenir-Black.woff") format('woff')
        url("/fonts/Avenir-Black.woff2") format('woff2');
		font-weight: 900;
}

$primarycolor: #30358C;
$secondcolor: #0DB2FF;
$yellowcolor: #F2AD21;

h1 {font-family: 'Avenir';
}
h2 {font-family: 'Avenir';
}
h3 {font-family: 'Avenir';
}
h4 {font-family: 'Avenir';
}
h5 {font-family: 'Avenir';
}
h6 {font-family: 'Avenir';
}
p {font-family: 'Avenir';
}
span{font-family: 'Avenir';
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input,textarea {
  -webkit-touch-callout: default !important;
  -webkit-user-select: text !important;
}

.topoPetBook .notificacaomenu{
  top: 0px;
  position: absolute;
  left: 0px;
  color: white;
  background-color: $primarycolor !important;
}

.topo{
  background: #fff !important;
  position: sticky;
  z-index: 999;
  top: 0;
  border-bottom: 3px solid #f7f7fa;
  color: $primarycolor;
  & a, & .btn{
    color: $primarycolor !important;
  }
  padding: 0.75rem 0rem;
}
a:hover{
  text-decoration: none;
}
.d-contents{
    display: contents;
}
.p-relative{
  position: relative;
}
.button-fixed{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1039;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 29.47%, #FFFFFF 100%);
}
.button-fixed2{
  position: fixed;
  bottom: 0;
  z-index: 1039;
  max-width: 85%;
}

//fim tulio


.foto-image{
  border: 1px dashed #c8d2e0;
  padding: 10px;
  border-radius: 2px;
  min-height: 155px;
  width: 100%;
  position: relative;
  & .b-form-file{
    left: 0;
    opacity: 0;
    top: 0;
    z-index: 1;
  }
  & img{
    width: 100%;
    height: 155px;
    object-fit: cover;
  }
}

hr{
  border: 1px solid #f7f4f4;
}
body{
  font-family: 'Avenir' !important;
  background: #f5f5f5;
  color: $primarycolor;
  font-family: Helvetica Neue,sans-serif;
  scroll-behavior: smooth;
}

.text-primarycolor{
  color: $primarycolor !important;
}
.text-secondcolor{
  color: $secondcolor !important;
}
.text-yellowcolor{
  color: $yellowcolor !important;
}
.btn-bgsuccess{
  background: #8DD346;
}
.bgsuccess{
  background: #8DD346;
}
.bg-yellowcolor{
  background: $yellowcolor;
}
.btn-pontos{
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  &:focus{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important;
  }
}
.bgE6F6FD{
  background: #E6F6FD;
}
.bgE3E4EC{
  background: #E3E4EC;
}
.bgF5F5F5{
  background: #F5F5F5;
}

.form-group{
  margin-bottom: .5rem;
}
.form-control, .custom-select{
  height: calc(2em + 1rem + 2px);
  border: none;
  background-color: #f4f5fb;
  border-radius: 0;
  color: #000000;
  font-weight: 400;
  &:focus, & .is-invalid:focus{
    z-index: auto !important;
    outline: none;
    outline-offset: 0;
    color: #000000;
    font-weight: 400;
    background-color: #f4f5fb;
    border-bottom: 1px solid;
    box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
    border-color: $secondcolor;
    transition: 0.3s;
  }
  &::placeholder{
    color: #9a9a9a;
    font-weight: 400;
  }

}
textarea.form-control{
  padding: 15px;
}
.iconaddcartao{
  background: #f4f5fa;
  position: absolute;
  z-index: 1;
  padding: 14px;
  width: 60px;
    height: 50px;
}
.inputaddcartao{
  padding-left: 60px;
}
.custom-select{
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-size: 12px;
}
.form-control-rounded {
  border-radius: 5rem;
}
.bottom-line{
  border-bottom: 1.3px solid #e3ebf6;
}
.custom-file-input:lang(en) ~ .custom-file-label::after{
  content: 'Anexar';
}
.pesquisa{
  border: 1px solid #DBE4F2;
  box-sizing: border-box;
  border-radius: 25.5px;
  width: 100% !important;
}
legend{
  font-size: 14px !important;
}
.search{
  background: #f5f5f5;
  border: 0;
  padding-left: 40px;
  // caret-color: $secondcolor;
  &:focus{
    background: #f5f5f5;
  }
}
.icon-search{
  position: absolute;
  z-index: 9;
  height: 100%;
  margin: 0 10px;
}
.fade-enter-active, .fade-leave-active {
  transition: .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
  opacity: 0;
}

.search-group .input-group-prepend{
  position: absolute;
  z-index: 9;
  height: 100%;
}
.headertop{
  overflow: hidden;
  color: #fff;
  background: $primarycolor;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  & .tituloheader{
    font-size: 17px;
    text-align: center;
    width: 100%;
  }
  & .notificacao{
    color: #fff;
    font-size: 22px;
    width: 100%;
    text-align: center;
    position: relative;
    &::after{
      background: $yellowcolor;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      top: 5px;
      right: -5px;
      content: '';
      position: absolute;
    }
  }
}
.headertransparent{
  overflow: hidden;
  color: $primarycolor;
  width: 100%;
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  & a{
    min-width: 50px;
    position: absolute;
    color: $primarycolor;
    padding: 3%;
    font-size: 20px;
    text-align: center;
  }
}
//avatar
.avatar-md{
  width: 3.65rem;
  height: 3.65rem;
}
.avatar-xx{
  width: 7.6rem;
  height: 7.6rem;
}

//atendimentos


.usuario-icon{
  width: 150px;
  height: 150px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
h3{
  font-family: "Avenir";
  font-weight: 700;
  font-size: 24px;
}
h4{
  font-family: "Avenir";
  font-weight: 700;
  font-size: 20px;
  color: $primarycolor;
}
h6{
  font-family: "Avenir";
  font-weight: 900;
  color: $primarycolor;
}
small{
  font-family: "Avenir";
  font-weight: 300;
}
span{
  font-family: "Avenir";
  font-weight: 500;
}
p{
  font-family: "Avenir";
}
//atendimentoview
.mapa{
  min-height: 130px;
  position: relative;
  &::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(46, 50, 63, 0.3);
    position: absolute;
    top: 0;
  }
}
.linemap{
  width: 2px;
  height: 34px;
  background: #C6CCE4;
  margin: 5px 6.2px;
}
#readmore{
  color: $secondcolor;
  text-decoration: underline;
}

.enviarfoto{
  position: absolute;
  top: 10px;
  right: 10px;
  background: $yellowcolor !important;
}

.img-perfil{
  height: 350px;
  object-fit: cover;
}
.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 220px, rgba(0, 0, 0, 0.7) 295px);
  top: 0;
}
// login
.img-responsive{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.usuario::after{
  content: "\f007";
  color: #dde1e4;

}
.senha::after{
  content: "\f023";
  color: #dde1e4;
}
.data::after{
  content: "\f073";
  color: $yellowcolor;
}
.select::after{
  content: "\f107";
  color: #9B9EB1;
}
// cadastro
label{
  font-size: 13px;
  color: #8a8989;
}

// .sidform input  {
//   color: #000000 !important;
//   &::placeholder{
//     color: #9a9a9a;
//     font-size: 12px;
//     font-weight: 300;
//   }
// }

// .sidform select {
//   color: #000000 !important;
// }
.etapa1
{
  legend{
    font-weight: 500;
  }
}
.vue-form-wizard{
  width: 100% !important;
  left: 0;
  padding-left:15px;
  padding-right:15px;
}
.wizard-progress-with-circle{
  display: none;
}
.vue-form-wizard.md .wizard-icon-circle.tab_shape{
  height: 8px !important;
}
.vue-form-wizard .wizard-nav{
  margin-top: 30px !important;
  margin-bottom: 1rem !important;
}
.vue-form-wizard .wizard-nav-pills{
  top: 0;
  width: 100%;
  left: 0;
  display: -webkit-box !important;
  & li:first-child a div{
    border-radius: 10px 0 0 10px !important;
  }
  & li:last-child a div{
    border-radius: 0 10px 10px 0 !important;
  }
  & li div{
    background-color: rgb(101, 217, 46) !important;
  }
  & li .disabled div{
    background-color: #f3f2ee !important;
  }
}

.vue-form-wizard .wizard-tab-content{
  padding: 0 !important;

}
.vue-form-wizard .wizard-header{
  display: none;
}
.vue-form-wizard .wizard-icon-circle.tab_shape{
  min-width: inherit !important;
}
.vue-form-wizard .wizard-btn{
  background-color: $secondcolor !important;
  border-color: $secondcolor !important;
  padding: 12px !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}
.btn-grayscalle100{
  filter: grayscale(100%);
}
.btn-grayscalle0{
  filter: grayscale(0%);
}
.wizard-footer-right{
  float: none !important;
  display: block !important;
  & button{
    width: 100%;
  }
}
.wizard-footer-left{
  // display: none !important;
  position: absolute;
  left: 0;
  top: 0;
}
.wizard-card-footer{
  padding: 0 !important;
}
.d-grid, .wizard-navigation, .vue-form-wizard{
  display: grid;
}
//Empresas
.nav-tabs .nav-link.active{
  border-bottom: 4px solid $yellowcolor !important;
  color: #000000 !important;
}
// buttons
.iconvoltar{
  font-size: 30px;
  color: #fff;
  line-height: 2;
  display: block;
  margin-top: 3px;
}
.btn-lg{
  padding: 0.7rem 1rem !important;
  font-size: 18px !important;
}
.btn-yellowcolor{
  background: $yellowcolor;
  color: #fff !important;
}
.btn-primarycolor{
  background: $primarycolor;
  border: none;
  color: #fff;
  &:hover{
    background: $primarycolor;
    border: none;
    color: #fff;
  }
}
.btn-outline-primarycolor{
  background: transparent;
  border: 1px solid $primarycolor;
  color: $primarycolor;
}
.btn-outline-secondcolor{
  background: transparent;
  border: 1px solid $secondcolor;
  color: $secondcolor;
}
.btn-secondcolor{
  background: $secondcolor;
  border: none;
  color: #fff;
  &:hover{
    background: $secondcolor;
    border: none;
    color: #fff;
  }
}
.circle-secondcolor{
  background: $secondcolor;
  border-radius: 100%;
  margin: 0 auto;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: none;
  color: #fff;
}
// .btn-primarycolor{
//   background: #fff;
//   border: 1px solid #C6CCE4;
//   color: #9B9B9B;
//   &.active{
//     background: $primarycolor;
//     color: #fff;
//     border: none;
//   }
// }
.fa-angle-right{
  color: #D1D1D6
}
.btn:focus{
  box-shadow: 0 0 0 0;
}
// radio
.custom-radio{
  i{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    border: 1.3px solid #dadad9;
    box-shadow: inset 0 0 0 6px #ffffff;
    transition: .25s;
  }
  // & .custom-control-label::before, .custom-control-label::after{
  //   display: none;
  // }
}
.custom-control-input:checked ~ .custom-control-label i{
  border: 2px solid $yellowcolor;
  box-shadow: inset 0 0 0 5px #fff;
  background: $yellowcolor;
}

.buttonsocial{
  display: flex;
  position: relative;
  margin-bottom: 5px;
}
.btnlink{
  padding: 10px;
  display: block;
  color: $primarycolor;
  font-size: 13px;
}
.border-light2{
  border-color: #C6CCE4;
}
.border-primarycolor{
  border-color: $primarycolor;
}
.border-solid{
  border-style: solid;
}
//dashboard
.btn-blue{
  border: none;
  background: $secondcolor;
  color: #fff;
}
.btn-outline-blue{
  border: 1px solid #dadde8;
  background: #fff;
  color: #222;
  min-width: calc(50% - 4px);
  font-size: 18px !important;
  padding: 10px !important;
  border-radius: 0.375rem !important;
  margin: 0.5rem 0.2rem 0 0 !important;
  &.active{
    border: 1px solid $primarycolor;
    color: #fff;
    background: $primarycolor;
  }
  &:focus{
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
  }
}
.btn-outline-radiogroup{
  border: 0.8px solid #9B9B9B;
  box-sizing: border-box;
  border-radius: 8px !important;
  margin: 5px;
  padding: 10px 5px;
  &.active{
    background: $secondcolor;
    color: #fff;
    border: 0.8px solid $secondcolor;
  }
  &:focus, &.focus{
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
  }
}
input[type=radio]{
  &:focus, &.focus{
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
  }
}
.file-dnone{
  opacity: 0;
  position: absolute;
  width: 90%;
}
.form-filecustom{
  display: flex;
  align-items: center;
  justify-content: center;
  & .quantidade{
    margin-left: 10px;
    background: $primarycolor;
    width: 25px;
    display: inline-block;
    color: #fff;
    text-align: center;
    border-radius: 100%;
    height: 25px;
  }
}
.box-shadow{
  box-shadow: 0px 2px 10px 0px rgba(201, 209, 219, 0.2);
}
//radio
.custom-control-input:checked ~ .custom-control-label::before{
  border-color: $yellowcolor;
  background-color: $yellowcolor;
}
.custom-control-label{
  display: flex;
  align-items: center;
  margin-bottom: -3px;
  font-size: 16px;

  &::before, &::after{
    width: 1.3rem;
    height: 1.3rem;
  }
}
.custom-control-inline{
    margin-right: 0.3rem;
}
.input-group-text{
  background: transparent;
}

//card
.card {
  display: block;
  margin-bottom: 1rem;
  border-color: #edf2f9;
  box-shadow: 0 0.3rem 0.5rem rgba(18,38,63,.02);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
}
//notificações
.ball-warning{
  border: 5px solid $yellowcolor;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 40px;
}
.notificacoes{
  .line{
    position: absolute;
    background: #E9ECF7;
    top: 25px;
    height: 90%;
    width: 6%;
  }
}
.notificacoes .notificacao:last-child{
  .line{
    display: none;
  }
}
.notificacaomenu{
  top: -10px;
  position: absolute;
  //left: 0px;
  right: 0px;
  color: white;
}
//menu
.burger {
	width: 28px;
	height: 25px;
	margin: auto;
	cursor: pointer;
	position: relative;
}
.burger:before, .burger span, .burger:after {
	width: 100%;
	height: 4px;
	display: block;
	background: $primarycolor;
	border-radius: 2px;
	position: absolute;
	opacity: 1;
}
.burger:before, .burger:after {
  transition: top .35s cubic-bezier(.23,1,.32,1),transform .35s cubic-bezier(.23,1,.32,1),opacity .35s cubic-bezier(.23,1,.32,1),background-color 1.15s cubic-bezier(.86,0,.07,1);
	-webkit-transition: top .35s cubic-bezier(.23,1,.32,1),-webkit-transform .35s cubic-bezier(.23,1,.32,1),opacity .35s cubic-bezier(.23,1,.32,1),background-color 1.15s cubic-bezier(.86,0,.07,1);
	content: "";
}
.burger:before {
	top: 4px;
}
.burger span {
	top: 14px;
}
.burger:after {
	top: 24px;
}
/* Click */
.burger.cross span {
	opacity: 0;
}
.burger.cross:before, .burger.cross:after {
	top: 40%;
}
.burger.cross:before {
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.burger.cross:after {
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}
.burger:focus {
	outline: none;
}
//perfil
.perfilbg{
  background: #FFB623;
  height: 195px;
  overflow: hidden;
  position: relative;
  &:after{
    content: '';
    background: #f5f5f5;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    width: 500px;
    margin: 40px 0 0 -55px;
    height: 200px;
    position: absolute;
  }
}
.badge-primarycolor{
  background-color: $primarycolor;
  color: #fff;
}
// modal
.modal-backdrop{
  background-color: rgba(#2E323F, 0.5);
}
.modal-header{
  border: none;
}
.modal-header .close{
  background: #DCDEE5;
  padding: 6px;
  width: 35px;
  height: 35px;
  margin-right: -5px;
  margin-top: -5px;
  z-index: 2;
}
.vue-notification{
  margin: 5px;
}
// Changing nav tabs to be bottom highlight style

$nav-link-padding-y: .5rem !default;
$nav-link-padding-x: 1rem !default;

$nav-tabs-link-active-border-width: 1px !default;
$nav-tabs-link-margin-x: .75rem !default; // Margin used for X so active underline matches width of label
$nav-tabs-link-padding-y: $card-spacer-y !default; // This keeps the height the same as the card header

$nav-tabs-sm-font-size: .8125rem !default;
$nav-tabs-sm-link-margin-x: .5rem !default;

.buscando {
  width:100px;
  height:100px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-50px;
  margin-left:-50px;
}
.buscando2 {
  position: fixed !important;
  margin-top:-25px !important;
}

.nav-tabs {

  .nav-item {
    margin-left: $nav-tabs-link-margin-x;
    margin-right: $nav-tabs-link-margin-x;
  }

  .nav-link {
    padding: $nav-tabs-link-padding-y 0;
    border-bottom: $nav-tabs-link-active-border-width solid transparent;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;

    &:not(.active) {
      color: $gray-600;

      &:hover {
        color: $gray-700;
      }
    }
    &.active{
      background: transparent;
      border-bottom: 4px solid $primarycolor;
      color: $primarycolor;
    }

  }

  .nav-item:first-child {
    margin-left: 0;
  }

  .nav-item:last-child {
    margin-right: 0;
  }

  // Removes the primary color underline from dropdowns in .nav-tabs
  .nav-item.show .nav-link {
    border-color: transparent;
  }

}

//animation
$size          : 40px;
$primary-color : white;

//with loading text and shadow
.cube-wrapper{
  position: fixed;
  left: 47%;
  top: 50%;
  margin-top: -$size;
  margin-left: -$size;
  width: $size*2;
  height: $size*2;
  text-align: center;
  //shadow
  &:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
    margin: auto;
    width: $size*1.8;
    height: 6px;
    background-color: rgba(black,.05);
    filter:blur(1px);
    border-radius: 100%;
    margin-left: 10px;
    z-index: 1;
    transform: scaleY(0.7) translateY(10px);
	  // animation: shadow 2s ease-in infinite alternate;
  }
  .loading{
    font-size: 12px;
    letter-spacing: 0.1em;
    display: block;
    color: $primary-color;
    position: relative;
    top: $size/3;
    z-index: 2;
    animation: text 0.5s ease infinite alternate;
    }
}

@keyframes text{
  100%{
    top: ($size/2) + 10;
  }
}
@keyframes shadow {
  100%{
    bottom: -18px;
    width: $size*2;
  }
}
.mh-200{
  min-height: 200px;
}
.buscandoatendimento{
 background-image: url('~@/assets/img/bg_buscandotecnico.jpg');
 width: 100%;
 height: 60%;
 background-size: cover;
}
.encontrado svg{
  height: 100px;
}
.pin{
  width: 60px;
  height: 60px;
  border-radius: 50% 50% 50% 0;
  background: $secondcolor;
  position: absolute;
  transform: rotate(-45deg);
  left: 48%;
  top: 50%;
  margin: -35px 0 0 -20px;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
  &:after
  {
    content: '';
    width: 28px;
    height: 28px;
    margin: 15px 0 0 -12px;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
  }
}
.pulse{
  background: rgba($primarycolor,0.2);
  border-radius: 50%;
  height: 28px;
  width: 28px;
  position: absolute;
  left: 48%;
  top: 75%;
  margin: 0px 0px 0px -3px;
  transform: rotateX(55deg);
  z-index: 4;

  &:after{
    content: "";
    border-radius: 50%;
    height: 60px;
    width: 80px;
    position: absolute;
    margin: -13px 0 0 -40px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.0;
    box-shadow: 0 0 1px 2px rgba($primarycolor,0.5);
    animation-delay: 1.1s;
  }
}
@keyframes pulsate{
  0%{
    transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50%{
    opacity: 1.0
  }
  100%{
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}


@keyframes bounce{
  0%{
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }
  60%{
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }
  80%{
    transform: translateY(-10px) rotate(-45deg);
  }
  100%{
    transform: translateY(0) rotate(-45deg);
  }
}

// Nav overflow
.overflow{
  overflow: hidden;
}
.nav-overflow {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 1px;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 370px) {
    h4{
      font-size: 18px !important;
    }
}
@media (max-width: 350px) {
    .container{
      padding-right: 10px;
      padding-left: 10px;
    }
    small{
      font-size: 11px;
    }
    .perfilbg{
      & span{
        font-size: 12px;
      }
    }
    //avatar
    .avatar-md{
      width: 3rem;
      height: 3rem;
    }
    .btnganhos{
      font-size: 12px;
    }
    .vue-form-wizard{
      margin-top: 0px;
      padding-left:0px;
      padding-right:0px;
      & h2{
        font-size: 26px;
      }
      & span{
        font-size: 13px;
      }
    }
    .vue-form-wizard .wizard-nav-pills{
      padding: 0px !important;
    }
    .vue-form-wizard .wizard-card-footer .wizard-footer-right button{
      margin-top: 0px;
    }
}
