<template>
  <div>
    <adm-template>
      <form-core :ocultarButton="salvando || buscando ? true : false" v-on:onSubmit="onSubmit" v-on:onReset="onReset" v-on:onIrParaLista="onIrParaLista" v-on:onDelete="onDelete" :registroId="form.id">

        <div v-if="buscando" class="d-flex justify-content-center my-5">
          <b-spinner></b-spinner>
        </div>

        <div v-show="!buscando">

          <b-row class="p-5">

            <b-col cols="12" sm="6">
              <form-group :validator="$v.form.nome" label="Nome">
                <b-form-input
                        slot-scope="{ attrs, listeners }"
                        placeholder="Jose Pereira da Silva"
                        v-bind="attrs"
                        v-on="listeners"
                        v-model="form.nome"
                />
              </form-group>
            </b-col>

            <b-col cols="12" sm="6">
              <form-group :validator="$v.form.email" label="E-mail">
                <b-form-input
                        slot-scope="{ attrs, listeners }"
                        placeholder="jose@pereira.com"
                        type="email"
                        autocomplete="off"
                        v-bind="attrs"
                        v-on="listeners"
                        v-model="form.email"
                />
              </form-group>
            </b-col>

            <b-col cols="12" sm="3">
              <form-group :validator="$v.form.senha" label="Senha">
                <b-form-input
                        slot-scope="{ attrs, listeners }"
                        placeholder="*******"
                        autocomplete="off"
                        type="password"
                        v-bind="attrs"
                        v-on="listeners"
                        v-model="form.senha"
                />
              </form-group>
            </b-col>

            <b-col cols="12" sm="3">
              <form-group :validator="$v.form.confirmarSenha" label="Confirmar Senha">
                <b-form-input
                        slot-scope="{ attrs, listeners }"
                        placeholder="*******"
                        type="password"
                        autocomplete="off"
                        v-bind="attrs"
                        v-on="listeners"
                        v-model="form.confirmarSenha"
                />
              </form-group>
            </b-col>

            <b-col cols="12" sm="6">
              <form-group :validator="$v.form.situacao" label="Situação">
                <b-form-select v-model="form.situacao" slot-scope="{ attrs, listeners }" v-bind="attrs" v-on="listeners">
                  <option value="null">Selecione</option>
                  <option value="Ativo">Ativo</option>
                  <option value="Bloqueado">Bloqueado</option>
                </b-form-select>
              </form-group>
            </b-col>

            <b-col cols="12" sm="12">
              <form-group :validator="$v.selecionadoRoles" label="Tipo de Usuário">
                <b-form-checkbox-group
                        slot-scope="{ attrs, listeners }"
                        v-bind="attrs"
                        v-on="listeners"
                        text-field="name"
                        value-field="id"
                        v-model="selecionadoRoles"
                        :options="optionsRoles"
                        switches
                ></b-form-checkbox-group>
              </form-group>
            </b-col>

          </b-row>

        </div>

        <div v-if="salvando" class="d-flex justify-content-center py-5">
          <b-spinner></b-spinner>
        </div>

      </form-core>
    </adm-template>
  </div>
</template>
<script src="./UsuarioForm.js"></script>
