<template>
    <div>
        <adm-template>
            <grid-core :colunasGrid="colunasGrid" :model="modelPadrao" ></grid-core>
        </adm-template>
    </div>
</template>
<script src="./UsuarioGrid.js"></script>
