<template>
  <b-container>
    <div v-show="buscando">
      <div class="d-flex justify-content-center mt-5">
        <b-spinner></b-spinner>
      </div>
    </div>
  </b-container>
</template>
<script>
import store from "@/store";
export default {
  name: "Buscando",
  computed: {
    buscando: {
      get() {
        return store.state.buscando ? store.state.buscando : false;
      }
    }
  }
};
</script>
