<template>
    <g>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M24.3684 0H2.63156C1.18007 0 0 1.18189 0 2.63562V17.2911C0 18.7448 1.18007 19.9267 2.63156 19.9267H24.3684C25.8199 19.9267 27 18.7448 27 17.2911V2.62971C26.9941 1.17598 25.814 0 24.3684 0ZM1.42197 2.62976C1.42197 1.962 1.9648 1.41833 2.63154 1.41833H24.3684C25.0352 1.41833 25.578 1.962 25.578 2.62976V5.69086H1.42197V2.62976ZM25.578 17.2851C25.578 17.9529 25.0352 18.4966 24.3684 18.4966H2.63154C1.9648 18.4966 1.42197 17.9529 1.42197 17.2851V7.10905H25.5721V17.2851H25.578Z" fill="#2E323F"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M4.71217 10.561H13.2878C13.6855 10.561 14 10.336 14 10.061C14 9.78187 13.6795 9.56104 13.2878 9.56104H4.71217C4.31454 9.56104 4 9.78604 4 10.061C4 10.336 4.31454 10.561 4.71217 10.561Z" fill="#2E323F"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M4.49861 14.561H6.50139C6.77978 14.561 7 14.336 7 14.061C7 13.7819 6.77562 13.561 6.50139 13.561H4.49861C4.22022 13.561 4 13.786 4 14.061C4 14.336 4.22022 14.561 4.49861 14.561Z" fill="#2E323F"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M20.4986 10.561H22.5014C22.7798 10.561 23 10.336 23 10.061C23 9.78187 22.7756 9.56104 22.5014 9.56104H20.4986C20.2202 9.56104 20 9.78604 20 10.061C20 10.336 20.2244 10.561 20.4986 10.561Z" fill="#2E323F"/>
    </g>
</template>
