<template>
    <g>
      <path d="M13 26C20.1797 26 26 20.1797 26 13C26 5.8203 20.1797 0 13 0C5.8203 0 0 5.8203 0 13C0 20.1797 5.8203 26 13 26Z" fill="#F3F2F2"/>
      <path d="M9.6261 15.4943L10.6212 9.62024H12.2314L11.2368 15.4943H9.6261Z" fill="#293688"/>
      <path d="M16.9701 9.77219C16.6508 9.65315 16.151 9.52588 15.5262 9.52588C13.9347 9.52588 12.8134 10.3229 12.8035 11.4645C12.7947 12.3082 13.6039 12.7789 14.215 13.0603C14.8421 13.3478 15.0527 13.5321 15.0494 13.7888C15.0456 14.1827 14.5486 14.3626 14.0856 14.3626C13.441 14.3626 13.0986 14.2737 12.5693 14.0543L12.3619 13.9605L12.1359 15.2754C12.5122 15.4394 13.2078 15.5815 13.9303 15.5887C15.6233 15.5881 16.7226 14.8015 16.7347 13.582C16.7407 12.9138 16.3117 12.4053 15.3824 11.9862C14.8196 11.7147 14.4745 11.5336 14.4784 11.2583C14.4784 11.0141 14.7702 10.753 15.4011 10.753C15.9277 10.7448 16.3096 10.8589 16.6069 10.9779L16.7512 11.046L16.9701 9.77219Z" fill="#293688"/>
      <path d="M19.7164 9.62024C19.3308 9.62024 19.0516 9.73818 18.882 10.1205L16.4951 15.4943H18.2001L18.5315 14.5941H20.569L20.7582 15.4943H22.274L20.9475 9.62079L19.7164 9.62024ZM18.9841 13.4191C19.1168 13.0806 19.6254 11.7772 19.6254 11.7772C19.6161 11.7926 19.7576 11.4371 19.8393 11.2171L19.9485 11.7235C19.9485 11.7235 20.2568 13.1256 20.321 13.4196L18.9841 13.4191Z" fill="#293688"/>
      <path d="M6.68956 13.6467L6.54747 12.8414C6.25343 11.9028 5.34112 10.8874 4.31909 10.3783L5.74214 15.4943H7.44771L10.0058 9.62073H8.30023L6.68956 13.6467Z" fill="#293688"/>
      <path d="M2.56799 9.62024V9.71514C4.58901 10.2012 5.99176 11.43 6.54748 12.8414L5.96323 10.1216C5.86558 9.7497 5.57044 9.6334 5.22098 9.62024H2.56799Z" fill="#F7981D"/>
      <path d="M12.9989 25.9999C18.0163 25.9999 22.3672 23.1556 24.5342 18.993H1.46423C3.63117 23.1556 7.98151 25.9999 12.9989 25.9999Z" fill="#F7981D"/>
      <path d="M12.9994 0C7.817 0 3.30938 3.23481 1 8H25C22.69 3.23546 18.1824 0 12.9994 0Z" fill="#293688"/>
    </g>
</template>
