<template>
    <g>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M13.3557 2.9586C13.2675 2.86267 13.1447 2.80894 13.0142 2.80894H10.4547L9.48001 0.299314C9.41094 0.118958 9.23826 0 9.04255 0H4.43773C4.24202 0 4.06934 0.122795 4.00027 0.303151L3.06395 2.80511H0.466063C0.335592 2.80511 0.212797 2.85883 0.124538 2.95476C0.0362787 3.0507 -0.00976959 3.17733 0.00174247 3.3078L1.02248 17.3448C1.04167 17.5904 1.24505 17.7785 1.49064 17.7785H11.9896C12.2352 17.7785 12.4386 17.5904 12.4578 17.3448L13.4824 3.31164C13.49 3.18117 13.444 3.05454 13.3557 2.9586ZM4.76387 0.940137H8.72019L9.44929 2.81277H4.06164L4.76387 0.940137ZM11.5559 16.8421H1.92417L0.968666 3.74519H12.5076L11.5559 16.8421Z" fill="#F0AB07"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.95452 14.9273C3.96987 14.9273 3.98138 14.9273 3.99673 14.9273C4.25383 14.9043 4.4457 14.6779 4.42267 14.4208L3.69741 6.1091C3.67439 5.852 3.44031 5.64862 3.19088 5.68315C2.93378 5.70618 2.74191 5.93258 2.76494 6.18969L3.4902 14.5014C3.50938 14.747 3.71276 14.9273 3.95452 14.9273Z" fill="#F0AB07"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.90749 14.9957C5.92284 14.9957 5.93435 14.9957 5.9497 14.9957C6.20681 14.9726 6.39867 14.7462 6.37565 14.4891L5.84609 8.41076C5.82307 8.15366 5.58899 7.95411 5.33956 7.98481C5.08246 8.00784 4.89059 8.23424 4.91362 8.49134L5.44317 14.5697C5.4662 14.8153 5.66958 14.9957 5.90749 14.9957Z" fill="#F0AB07"/>
    </g>
</template>
