<template>
    <g>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M21.3808 2.50192H16.2057V0.625481C16.2057 0.281979 15.9244 0 15.5818 0H8.10539C7.76277 0 7.48151 0.281979 7.48151 0.625481V2.50192H2.30633C1.03299 2.50192 0 3.53755 0 4.81415V17.6878C0 18.9644 1.03299 20 2.30633 20H21.3808C22.6542 20 23.6872 18.9644 23.6872 17.6878V4.81415C23.6872 3.54268 22.6542 2.50192 21.3808 2.50192ZM8.72417 1.25095H14.963V2.50191H8.72417V1.25095ZM2.30633 3.75286H21.3808C21.9638 3.75286 22.4394 4.22966 22.4394 4.81412V8.44396C21.2581 8.72081 18.0466 9.43858 14.9579 9.79234V9.37706C14.9579 9.03356 14.6766 8.75158 14.334 8.75158H9.34805C9.00542 8.75158 8.72416 9.03356 8.72416 9.37706V9.79234C5.64053 9.43858 2.42395 8.72594 1.24266 8.44396V4.81412C1.24777 4.22966 1.72335 3.75286 2.30633 3.75286ZM13.7152 10.0026V12.5045H9.97704V10.0026H13.7152ZM21.3808 18.7542H2.30633C1.72336 18.7542 1.24777 18.2774 1.24777 17.693V9.7309C2.64896 10.0539 5.75304 10.7204 8.72416 11.0536V13.13C8.72416 13.4735 9.00542 13.7555 9.34805 13.7555H14.334C14.6766 13.7555 14.9579 13.4735 14.9579 13.13V11.0536C17.929 10.7255 21.0331 10.0539 22.4394 9.7309V17.6878C22.4394 18.2774 21.9638 18.7542 21.3808 18.7542Z" fill="#2E323F"/>
    </g>
</template>
