<template>
    <g>
      <path d="M40 79C62.0914 79 80 61.3153 80 39.5C80 17.6848 62.0914 0 40 0C17.9086 0 0 17.6848 0 39.5C0 61.3153 17.9086 79 40 79Z" fill="#E61C24"/>
      <path d="M88 79C110.091 79 128 61.3153 128 39.5C128 17.6848 110.091 0 88 0C65.9086 0 48 17.6848 48 39.5C48 61.3153 65.9086 79 88 79Z" fill="#F99F1B"/>
    </g>
</template>
