<template>
    <g>
      <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="136" height="136">
      <path d="M135.5 68C135.5 105.279 105.279 135.5 68 135.5C30.7208 135.5 0.5 105.279 0.5 68C0.5 30.7208 30.7208 0.5 68 0.5C105.279 0.5 135.5 30.7208 135.5 68Z" fill="#E6F6FD" stroke="black"/>
      </mask>
      <g mask="url(#mask0)">
      <path d="M77.9733 88.6988H105.965V38.4308C105.965 36.7984 104.648 35.477 103.021 35.477H35.2452C33.6184 35.477 32.3014 36.7984 32.3014 38.4308V88.6988H77.9733V88.6988ZM38.189 41.3934H100.069V82.7911H38.189V41.3934Z" fill="#94C1FF"/>
      <path d="M77.9735 88.6988V91.6527C77.9735 93.2851 76.6565 94.6066 75.0297 94.6066H63.2373C61.6105 94.6066 60.2935 93.2851 60.2935 91.6527V88.6988H26.4054V94.6153C26.4054 97.8801 29.0479 100.532 32.3016 100.532H105.965C109.219 100.532 111.862 97.8801 111.862 94.6153V88.6988H77.9735V88.6988Z" fill="#D7E9FF"/>
      <path d="M101.541 39.9164H36.7172V84.268H101.541V39.9164ZM98.5972 81.3055H39.6696V42.8703H98.5972V81.3055Z" fill="#116FFF"/>
      <path d="M107.437 87.2219V38.4308C107.437 35.9779 105.457 34 103.021 34H35.2452C32.8093 34 30.8296 35.9865 30.8296 38.4308V87.2133H24.9333V94.6066C24.942 98.6833 28.2301 101.991 32.3015 102H105.965C110.028 101.991 113.325 98.692 113.333 94.6066V87.2133H107.437V87.2219ZM33.7734 38.4308C33.7734 37.6103 34.4361 36.9539 35.2452 36.9539H103.013C103.831 36.9539 104.485 37.619 104.485 38.4308V87.2133H33.7734V38.4308ZM61.7653 90.1758H76.5015V91.6527C76.5015 92.4733 75.8387 93.1297 75.0296 93.1297H63.2371C62.4194 93.1297 61.7653 92.4646 61.7653 91.6527V90.1758ZM110.381 94.6153C110.381 97.0682 108.401 99.0461 105.965 99.0461H32.3015C29.8569 99.0461 27.8858 97.0596 27.8858 94.6153V90.1844H58.8215V91.6614C58.8215 94.1143 60.8012 96.0922 63.2371 96.0922H75.0296C77.4741 96.0922 79.4453 94.1057 79.4453 91.6614V90.1844H110.381V94.6153V94.6153Z" fill="#116FFF"/>
      <path d="M91.6594 66.0869C92.2447 66.6569 93.1743 66.6397 93.7424 66.0523C94.2933 65.4823 94.2933 64.5667 93.7424 63.9967L77.543 47.7417C76.9576 47.1716 76.028 47.1889 75.4599 47.7762C74.909 48.3462 74.909 49.2531 75.4599 49.8318L91.6594 66.0869Z" fill="#116FFF"/>
      <path d="M94.1816 59.134C93.7943 59.134 93.4155 58.9785 93.1401 58.7021L82.8196 48.3462C82.2515 47.7589 82.2687 46.8261 82.854 46.2561C83.4221 45.7033 84.3259 45.7033 84.9026 46.2561L95.2145 56.6033C95.7912 57.182 95.7912 58.1148 95.2145 58.6935C94.9477 58.9785 94.5689 59.134 94.1816 59.134Z" fill="#116FFF"/>
      </g>
    </g>
</template>
