<template>
    <g>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M23.5269 5.77856H20.5424L22.0267 4.29174C23.0092 3.3058 23.0039 1.71353 22.0215 0.732865C21.5302 0.242531 20.8858 0 20.2414 0C19.5969 0 18.9472 0.247803 18.456 0.738137L13.4273 5.77329H0.633863C0.279956 5.77329 0 6.058 0 6.40598V20.3673C0 20.7206 0.285238 21 0.633863 21H23.5269C23.8808 21 24.1607 20.7153 24.1607 20.3673V6.41652C24.1607 6.06327 23.8755 5.77856 23.5269 5.77856ZM19.3592 1.63978C19.5969 1.40252 19.9086 1.27598 20.2414 1.27598C20.5741 1.27598 20.8858 1.40252 21.1235 1.63978C21.3612 1.87703 21.488 2.18811 21.488 2.52027C21.488 2.85243 21.3612 3.1635 21.1235 3.40076L11.6155 12.9175L9.69283 13.0756L9.84601 11.1565L19.3592 1.63978ZM22.893 19.7452H1.26773V7.04924H12.1596L8.61526 10.5976L8.33002 14.1406C8.31418 14.3041 8.44623 14.4464 8.60998 14.4464C8.61526 14.4464 8.62583 14.4464 8.63639 14.4464L12.186 14.1459L19.2747 7.04924H22.8877V19.7452H22.893Z" fill="#2E323F"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4516 15H4.5484C4.24221 15 4 15.45 4 16C4 16.5583 4.24678 17 4.5484 17H14.4516C14.7578 17 15 16.55 15 16C15 15.45 14.7532 15 14.4516 15Z" fill="#2E323F"/>
    </g>
</template>
