<template>
  <g>
  	<g>
  		<g>
  			<path fill="#FFFFFF" d="M142.1,174.9H62.2c-19.2,0-34.8-15.6-34.8-34.8V60.2C27.4,41,43,25.4,62.2,25.4h79.9
  				c19.2,0,34.8,15.6,34.8,34.8v79.9C176.9,159.3,161.3,174.9,142.1,174.9z"/>
  		</g>
  	</g>
  	<g>
  		<g>
  			<g>
  				<path fill="#3D44B2" d="M109.4,89.6l-20-14.4c-1.6-1.2-3.9-1.2-5.6-0.1l-12.7,8.4c0,0,7.2-1.6,10.3-1l1.5-0.7l3.6-2.5l20,14.4
  					c0.8,0.6,1.3,1.6,1.3,2.6v9.8c0,1.4,1.1,2.5,2.5,2.5s2.5-1.1,2.5-2.5v-9.8C112.8,93.6,111.5,91.2,109.4,89.6z"/>
  				<path fill="#3D44B2" d="M62.4,72.7c-1.9-1.7-3.3-4.1-3.3-4.1l0.1,12.4c0,1.3,1,2.4,2.2,2.6c0.1,0,0.2,0,0.2,0
  					c0.6,0,1.2-0.2,1.7-0.6c0.5-0.5,0.9-1.4,0.9-2.1v-7l-1-0.5C62.9,73.1,62.7,72.9,62.4,72.7z"/>
  				<path fill="#0DB2FF" d="M137.4,60.4H65.9c-3.7,0-6.8,3-6.8,6.8V69l0,0.1c0.5,2.4,2.1,4.4,4.3,5.4l0.8,0.4v-7.7
  					c0-0.9,0.8-1.7,1.7-1.7h71.5c1.7,0,3.1,1.4,3.1,3.1v44.3c0,1.9-1.5,3.4-3.4,3.4H67.6c-1.9,0-3.5-1.6-3.5-3.5V95.8
  					c0-0.9,0.5-1.8,1.2-2.3l17.6-11.7l-1.3-0.3c-3.4-0.7-7-0.1-10,1.7l-9.1,6.1c-2.2,1.5-3.5,3.9-3.5,6.6v16.9
  					c0,4.8,3.9,8.6,8.6,8.6h22.8L89,124h-8.6c-1.2,0-2.1,1-2.1,2.1v5.5c0,1.2,1,2.1,2.1,2.1h43.7c1.2,0,2.1-1,2.1-2.1v-5.5
  					c0-1.2-1-2.1-2.1-2.1h-8.6l-1.4-2.6H137c4.7,0,8.5-3.8,8.5-8.5V68.5C145.5,64,141.9,60.4,137.4,60.4z M82.5,130.4v-2.1H122v2.1
  					H82.5z M94.4,124.2l1.1-2.7h13.4l1.1,2.7H94.4z"/>
  			</g>
  			<g>
  				<path fill="#0DB2FF" d="M94.9,106.2c-1.2-1.1-2.3-2.3-3.5-3.4l-0.3-0.3c-0.7-0.7-1.5-0.9-2.4-0.7c-0.4,0.1-0.6,0-0.8-0.2
  					c-1.3-1.4-2.7-2.7-4.1-4.1l-1-1c-0.2-0.2-0.3-0.4-0.4-0.6c-0.1-0.8-0.5-1.5-1.3-1.9l-0.5-0.3c-0.5-0.3-1-0.6-1.5-0.9
  					c-0.6-0.4-1-0.3-1.5,0.1c-0.4,0.4-0.4,0.9-0.1,1.4c0.4,0.6,0.7,1.2,1.1,1.8c0.5,0.8,1.1,1.2,1.9,1.4c0.4,0.1,0.6,0.2,0.8,0.4
  					c1.7,1.7,3.4,3.4,5.1,5.1c0.2,0.2,0.3,0.3,0.2,0.6c-0.3,1-0.1,1.9,0.7,2.7c1.1,1.2,2.5,2.5,3.8,3.8c0.5,0.5,1.1,0.7,1.7,0.7
  					c0.4,0,0.8-0.1,1.2-0.3c1-0.5,1.5-1.3,1.5-2.6C95.8,107.4,95.5,106.7,94.9,106.2z"/>
  				<path fill="#3D44B2" d="M93.2,92.2c-0.8,0.8-1.6,1.5-2.3,2.3c-0.8,0.9-0.8,1.9-0.1,2.7c0.8,0.8,1.8,0.7,2.7-0.1
  					c0.6-0.6,1.3-1.2,1.9-1.9c0.3-0.3,0.5-0.3,0.6,0.2c0.8,3.2-2.2,6.2-5.5,5.5c-0.2-0.1-0.5-0.2-0.7-0.1c-0.7,0-1.1,0.2-1.3,0
  					c-1.1-1-1.8-1.7-2.2-2.1c-0.3-0.2,0-0.4,0.1-0.5c0.6-0.4,0.6-0.9,0.6-1.5C86.8,93.4,90.1,91,93.2,92.2z"/>
  				<path fill="#3D44B2" d="M79.9,110.5c-0.9,0-1.7-0.5-2.1-1.3c-0.5-0.9-0.4-1.9,0.3-2.6c1.7-1.8,3.4-3.5,5.2-5.2
  					c0.2-0.2,0.4-0.2,0.6,0c0.6,0.6,1.2,1.2,1.8,1.8c0.2,0.2,0.3,0.3,0.2,0.6c0,0.2-0.1,0.3-0.1,0.5c0.5,1.2-0.4,1.9-1.1,2.6
  					c-1,0.9-1.9,1.9-2.9,2.9C81.2,110.2,80.6,110.5,79.9,110.5z"/>
  			</g>
  		</g>
  		<path fill="#0DB2FF" d="M140.4,148.7c0.4-0.6,0.4-1.3,0.1-1.9l-3.9-7.5c-0.3-0.6-1-1.1-1.7-1.1H69.6c-0.7,0-1.4,0.4-1.7,1.1l-3.9,7.5
  			c-0.3,0.6-0.3,1.3,0.1,1.9c0.4,0.6,1,0.9,1.7,0.9h73C139.4,149.6,140.1,149.3,140.4,148.7z M69,145.7l1.8-3.5h62.9l1.8,3.5H69z"/>
  	</g>
  </g>
</template>
