<template>
    <g>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M21.965 5.37394L19.327 2.64174L16.7739 0.205066C16.6344 0.0723764 16.4525 0 16.2645 0H0.739847C0.333538 0 0 0.331725 0 0.735826V24.2642C0 24.6683 0.333538 25 0.739847 25H21.4374C21.8437 25 22.1772 24.6683 22.1772 24.2642V5.88661C22.1712 5.69361 22.0923 5.51267 21.965 5.37394ZM18.2779 3.68513L20.4064 5.88658H16.2584V1.75509L18.2779 3.68513ZM20.6915 23.5343H1.46756V1.47161H14.7787V6.61636C14.7787 7.02046 15.1123 7.35219 15.5186 7.35219H20.6915V23.5343Z" fill="#2E323F"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8612 19.4191H4.24908C3.83339 19.4191 3.49216 19.6196 3.49216 19.8639C3.49216 20.1083 3.83339 20.3088 4.24908 20.3088H17.8612C18.2769 20.3088 18.6182 20.1083 18.6182 19.8639C18.6182 19.6196 18.2831 19.4191 17.8612 19.4191Z" fill="#2E323F"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8612 14.9702H4.24908C3.83339 14.9702 3.49216 15.1708 3.49216 15.4151C3.49216 15.6594 3.83339 15.86 4.24908 15.86H17.8612C18.2769 15.86 18.6182 15.6594 18.6182 15.4151C18.6182 15.1708 18.2831 14.9702 17.8612 14.9702Z" fill="#2E323F"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.49216 10.9664C3.49216 11.2107 3.83339 11.4112 4.24908 11.4112H17.8612C18.2769 11.4112 18.6182 11.2107 18.6182 10.9664C18.6182 10.722 18.2769 10.5215 17.8612 10.5215H4.24908C3.82719 10.5215 3.49216 10.722 3.49216 10.9664Z" fill="#2E323F"/>
    </g>
</template>
