<template>
    <g>
      <path d="M38.6085 10.658H35.9562H31.3173C30.9513 10.658 30.6551 10.361 30.6551 10.0013V2.11195C30.6551 1.74899 30.9546 1.45532 31.3173 1.45532H43.2507C43.6168 1.45532 43.9129 1.75229 43.9129 2.11195V10.0013C43.9129 10.3643 43.6134 10.658 43.2507 10.658H38.6085Z" fill="#D7E9FF"/>
      <path d="M37.284 16.5774C38.0194 16.5774 38.6085 17.1647 38.6085 17.8906C38.6085 18.6133 38.0194 19.2039 37.284 19.2039C36.5552 19.2039 35.9595 18.6133 35.9595 17.8906C35.9562 17.1614 36.5552 16.5774 37.284 16.5774Z" fill="#D7E9FF"/>
      <path d="M13.4139 16.5774C14.1427 16.5774 14.7384 17.1647 14.7384 17.8906C14.7384 18.6133 14.1427 19.2039 13.4139 19.2039C12.6785 19.2039 12.0895 18.6133 12.0895 17.8906C12.0895 17.1614 12.6785 16.5774 13.4139 16.5774Z" fill="#D7E9FF"/>
      <path d="M14.7419 10.6577L15.4042 13.2809H13.4141H11.4241L12.0864 10.6577H14.7419Z" fill="#94C1FF"/>
      <path d="M38.6084 10.6577L39.2707 13.2809H37.2807H35.2906L35.9529 10.6577H38.6084Z" fill="#94C1FF"/>
      <path d="M26.675 31.6963L27.3372 34.3261H23.3605L24.0228 31.6963H26.675Z" fill="#94C1FF"/>
      <path d="M31.9794 23.1503V31.0397C31.9794 31.4026 31.6799 31.6963 31.3172 31.6963H26.675H24.0227H19.3805C19.0144 31.6963 18.7183 31.3993 18.7183 31.0397V23.1503C18.7183 22.7873 19.0178 22.4937 19.3805 22.4937H25.3505H31.3172C31.6799 22.4937 31.9794 22.7873 31.9794 23.1503Z" fill="#D7E9FF"/>
      <path d="M25.3506 16.5774C26.086 16.5774 26.675 17.1647 26.675 17.8906C26.675 18.6133 26.086 19.2039 25.3506 19.2039C24.6152 19.2039 24.0261 18.6133 24.0261 17.8906C24.0228 17.1614 24.6118 16.5774 25.3506 16.5774Z" fill="#D7E9FF"/>
      <path d="M14.7419 10.658H12.0897H7.44745C7.08139 10.658 6.78522 10.361 6.78522 10.0013V2.11195C6.78522 1.74899 7.08472 1.45532 7.44745 1.45532H19.3808C19.7469 1.45532 20.0431 1.75229 20.0431 2.11195V10.0013C20.0431 10.3643 19.7436 10.658 19.3808 10.658H14.7419Z" fill="#D7E9FF"/>
      <path d="M19.384 11.3178H7.45061C6.7185 11.3178 6.12616 10.7271 6.12616 10.0045V2.11183C6.12616 1.38592 6.72183 0.798584 7.45061 0.798584H19.384C20.1161 0.798584 20.7085 1.38922 20.7085 2.11183V10.0012C20.7085 10.7271 20.1161 11.3178 19.384 11.3178ZM19.384 10.0012V10.6579V10.0012ZM7.45061 2.11183V10.0012H19.384L19.3873 2.11183H7.45061Z" fill="#116FFF"/>
      <path d="M11.4272 13.9411C11.3739 13.9411 11.3207 13.9345 11.2675 13.9213C10.9114 13.8322 10.6951 13.4759 10.7849 13.1228L11.4472 10.493C11.5337 10.1399 11.8931 9.92546 12.2491 10.0145C12.6052 10.1036 12.8215 10.46 12.7317 10.8131L12.0694 13.4429C11.9962 13.7431 11.7234 13.9411 11.4272 13.9411Z" fill="#116FFF"/>
      <path d="M15.404 13.9411C15.1078 13.9411 14.8383 13.7431 14.7617 13.4429L14.0995 10.8131C14.0096 10.46 14.226 10.1036 14.582 10.0145C14.9381 9.92546 15.2975 10.1399 15.384 10.493L16.0462 13.1228C16.1361 13.4759 15.9198 13.8322 15.5637 13.9213C15.5138 13.9345 15.4572 13.9411 15.404 13.9411Z" fill="#116FFF"/>
      <path d="M16.0695 13.9409H10.7651C10.399 13.9409 10.1028 13.6473 10.1028 13.2843C10.1028 12.9214 10.399 12.6277 10.7651 12.6277H16.0695C16.4356 12.6277 16.7318 12.9214 16.7318 13.2843C16.7318 13.6473 16.4356 13.9409 16.0695 13.9409Z" fill="#116FFF"/>
      <path d="M10.7651 5.39821H10.1028C9.73679 5.39821 9.44061 5.10454 9.44061 4.74159C9.44061 4.37863 9.73679 4.08496 10.1028 4.08496H10.7651C11.1311 4.08496 11.4273 4.37863 11.4273 4.74159C11.4273 5.10454 11.1311 5.39821 10.7651 5.39821Z" fill="#116FFF"/>
      <path d="M16.7315 5.39821H12.7548C12.3888 5.39821 12.0926 5.10454 12.0926 4.74159C12.0926 4.37863 12.3888 4.08496 12.7548 4.08496H16.7315C17.0976 4.08496 17.3937 4.37863 17.3937 4.74159C17.3937 5.10454 17.0976 5.39821 16.7315 5.39821Z" fill="#116FFF"/>
      <path d="M12.0894 8.02809H10.0994C9.73337 8.02809 9.43719 7.73443 9.43719 7.37147C9.43719 7.00851 9.73337 6.71484 10.0994 6.71484H12.0894C12.4555 6.71484 12.7517 7.00851 12.7517 7.37147C12.755 7.73443 12.4555 8.02809 12.0894 8.02809Z" fill="#116FFF"/>
      <path d="M16.7315 8.02809H14.0793C13.7132 8.02809 13.4171 7.73443 13.4171 7.37147C13.4171 7.00851 13.7132 6.71484 14.0793 6.71484H16.7315C17.0976 6.71484 17.3937 7.00851 17.3937 7.37147C17.3937 7.73443 17.0976 8.02809 16.7315 8.02809Z" fill="#116FFF"/>
      <path d="M43.2506 11.3178H31.3139C30.5818 11.3178 29.9894 10.7271 29.9894 10.0045V2.11183C29.9894 1.38592 30.5851 0.798584 31.3139 0.798584H43.2473C43.9794 0.798584 44.5717 1.38922 44.5717 2.11183V10.0012C44.5751 10.7271 43.9794 11.3178 43.2506 11.3178ZM43.2506 10.0012V10.6579V10.0012ZM31.3139 2.11183V10.0012H43.2473L43.2506 2.11183H31.3139Z" fill="#116FFF"/>
      <path d="M35.2939 13.9411C35.2407 13.9411 35.1875 13.9345 35.1342 13.9213C34.7781 13.8322 34.5618 13.4759 34.6517 13.1228L35.3139 10.493C35.4004 10.1399 35.7598 9.92546 36.1159 10.0145C36.472 10.1036 36.6883 10.46 36.5984 10.8131L35.9362 13.4429C35.8597 13.7431 35.5901 13.9411 35.2939 13.9411Z" fill="#116FFF"/>
      <path d="M39.2708 13.9411C38.9746 13.9411 38.7051 13.7431 38.6285 13.4429L37.9663 10.8131C37.8765 10.46 38.0928 10.1036 38.4488 10.0145C38.8016 9.92546 39.1643 10.1399 39.2508 10.493L39.9131 13.1228C40.0029 13.4759 39.7866 13.8322 39.4305 13.9213C39.3773 13.9345 39.3241 13.9411 39.2708 13.9411Z" fill="#116FFF"/>
      <path d="M39.9329 13.9409H34.6284C34.2624 13.9409 33.9662 13.6473 33.9662 13.2843C33.9662 12.9214 34.2624 12.6277 34.6284 12.6277H39.9329C40.2989 12.6277 40.5951 12.9214 40.5951 13.2843C40.5984 13.6473 40.2989 13.9409 39.9329 13.9409Z" fill="#116FFF"/>
      <path d="M34.6284 8.02809H33.9662C33.6001 8.02809 33.304 7.73443 33.304 7.37147C33.304 7.00851 33.6001 6.71484 33.9662 6.71484H34.6284C34.9945 6.71484 35.2906 7.00851 35.2906 7.37147C35.294 7.73443 34.9978 8.02809 34.6284 8.02809Z" fill="#116FFF"/>
      <path d="M40.5985 8.02809H36.6218C36.2557 8.02809 35.9595 7.73443 35.9595 7.37147C35.9595 7.00851 36.2557 6.71484 36.6218 6.71484H40.5985C40.9645 6.71484 41.2607 7.00851 41.2607 7.37147C41.2607 7.73443 40.9645 8.02809 40.5985 8.02809Z" fill="#116FFF"/>
      <path d="M35.9562 5.39821H33.9662C33.6001 5.39821 33.304 5.10454 33.304 4.74159C33.304 4.37863 33.6001 4.08496 33.9662 4.08496H35.9562C36.3222 4.08496 36.6184 4.37863 36.6184 4.74159C36.6184 5.10454 36.3222 5.39821 35.9562 5.39821Z" fill="#116FFF"/>
      <path d="M40.5985 5.39821H37.9462C37.5802 5.39821 37.284 5.10454 37.284 4.74159C37.284 4.37863 37.5802 4.08496 37.9462 4.08496H40.5985C40.9645 4.08496 41.2607 4.37863 41.2607 4.74159C41.2607 5.10454 40.9645 5.39821 40.5985 5.39821Z" fill="#116FFF"/>
      <path d="M31.3172 32.3594H19.3805C18.6484 32.3594 18.056 31.7688 18.056 31.0461V23.1568C18.056 22.4308 18.6517 21.8435 19.3805 21.8435H31.3139C32.046 21.8435 32.6383 22.4341 32.6383 23.1568V31.0429C32.6417 31.7688 32.046 32.3594 31.3172 32.3594ZM31.3172 31.0429V31.6995V31.0429ZM19.3805 23.1535V31.0429H31.3139L31.3172 23.1535H19.3805Z" fill="#116FFF"/>
      <path d="M23.3604 34.9827C23.3071 34.9827 23.2539 34.9761 23.2006 34.9629C22.8445 34.8738 22.6282 34.5175 22.7181 34.1677L23.3803 31.5379C23.4702 31.1849 23.8296 30.9704 24.1823 31.0595C24.5384 31.1486 24.7547 31.5049 24.6648 31.8547L24.0026 34.4845C23.9261 34.7847 23.6565 34.9827 23.3604 34.9827Z" fill="#116FFF"/>
      <path d="M27.3371 34.9827C27.0409 34.9827 26.7714 34.7847 26.6948 34.4845L26.0326 31.8547C25.9428 31.5016 26.1591 31.1453 26.5151 31.0595C26.8679 30.9704 27.2306 31.1849 27.3171 31.5379L27.9794 34.1677C28.0692 34.5208 27.8529 34.8771 27.4968 34.9629C27.4436 34.9761 27.3903 34.9827 27.3371 34.9827Z" fill="#116FFF"/>
      <path d="M28.0028 34.9827H22.6983C22.3322 34.9827 22.0361 34.689 22.0361 34.3261C22.0361 33.9631 22.3322 33.6694 22.6983 33.6694H28.0028C28.3688 33.6694 28.665 33.9631 28.665 34.3261C28.665 34.689 28.3688 34.9827 28.0028 34.9827Z" fill="#116FFF"/>
      <path d="M22.6983 29.0698H22.0361C21.67 29.0698 21.3738 28.7762 21.3738 28.4132C21.3738 28.0503 21.67 27.7566 22.0361 27.7566H22.6983C23.0643 27.7566 23.3605 28.0503 23.3605 28.4132C23.3605 28.7762 23.0643 29.0698 22.6983 29.0698Z" fill="#116FFF"/>
      <path d="M28.665 29.0698H24.685C24.3189 29.0698 24.0228 28.7762 24.0228 28.4132C24.0228 28.0503 24.3189 27.7566 24.685 27.7566H28.6617C29.0277 27.7566 29.3239 28.0503 29.3239 28.4132C29.3272 28.7762 29.0311 29.0698 28.665 29.0698Z" fill="#116FFF"/>
      <path d="M24.0228 26.44H22.0328C21.6667 26.44 21.3705 26.1463 21.3705 25.7833C21.3705 25.4204 21.6667 25.1267 22.0328 25.1267H24.0228C24.3888 25.1267 24.685 25.4204 24.685 25.7833C24.685 26.1463 24.3888 26.44 24.0228 26.44Z" fill="#116FFF"/>
      <path d="M28.665 26.44H26.0128C25.6468 26.44 25.3506 26.1463 25.3506 25.7833C25.3506 25.4204 25.6468 25.1267 26.0128 25.1267H28.665C29.0311 25.1267 29.3273 25.4204 29.3273 25.7833C29.3273 26.1463 29.0311 26.44 28.665 26.44Z" fill="#116FFF"/>
      <path d="M13.414 19.8672C12.3158 19.8672 11.424 18.9829 11.424 17.8941C11.424 16.8052 12.3158 15.9209 13.414 15.9209C14.5121 15.9209 15.404 16.8052 15.404 17.8941C15.404 18.9796 14.5121 19.8672 13.414 19.8672ZM13.414 17.2341C13.0479 17.2341 12.7484 17.5311 12.7484 17.8941C12.7484 18.257 13.0446 18.554 13.414 18.554C13.78 18.554 14.0762 18.257 14.0762 17.8941C14.0795 17.5278 13.78 17.2341 13.414 17.2341Z" fill="#116FFF"/>
      <path d="M25.3505 19.8672C24.2524 19.8672 23.3605 18.9829 23.3605 17.8941C23.3605 16.8052 24.2524 15.9209 25.3505 15.9209C26.4487 15.9209 27.3406 16.8052 27.3406 17.8941C27.3406 18.9796 26.4454 19.8672 25.3505 19.8672ZM25.3505 17.2341C24.9845 17.2341 24.685 17.5311 24.685 17.8941C24.685 18.257 24.9812 18.554 25.3505 18.554C25.7166 18.554 26.0128 18.257 26.0128 17.8941C26.0128 17.5278 25.7166 17.2341 25.3505 17.2341Z" fill="#116FFF"/>
      <path d="M37.284 19.8672C36.1858 19.8672 35.2939 18.9829 35.2939 17.8941C35.2939 16.8052 36.1858 15.9209 37.284 15.9209C38.3821 15.9209 39.274 16.8052 39.274 17.8941C39.274 18.9796 38.3821 19.8672 37.284 19.8672ZM37.284 17.2341C36.9179 17.2341 36.6184 17.5278 36.6184 17.8908C36.6184 18.2537 36.9146 18.5507 37.284 18.5507C37.65 18.5507 37.9462 18.2537 37.9462 17.8908C37.9495 17.5278 37.65 17.2341 37.284 17.2341Z" fill="#116FFF"/>
      <path d="M11.6335 18.5474H-0.652681C-1.27165 18.5474 -1.77081 18.2537 -1.77081 17.8908C-1.77081 17.5278 -1.27165 17.2341 -0.652681 17.2341H11.6335C12.2524 17.2341 12.7516 17.5278 12.7516 17.8908C12.7516 18.2537 12.2491 18.5474 11.6335 18.5474Z" fill="#116FFF"/>
      <path d="M24.0227 18.5506H14.7415C14.3755 18.5506 14.0793 18.2569 14.0793 17.8939C14.0793 17.531 14.3755 17.2373 14.7415 17.2373H24.0227C24.3887 17.2373 24.6849 17.531 24.6849 17.8939C24.6849 18.2569 24.3887 18.5506 24.0227 18.5506Z" fill="#116FFF"/>
      <path d="M35.9561 18.5506H26.6749C26.3089 18.5506 26.0127 18.2569 26.0127 17.8939C26.0127 17.531 26.3089 17.2373 26.6749 17.2373H35.9561C36.3221 17.2373 36.6183 17.531 36.6183 17.8939C36.6183 18.2569 36.3255 18.5506 35.9561 18.5506Z" fill="#116FFF"/>
      <path d="M50.6118 18.5506H39.0045C38.4222 18.5506 37.9496 18.2569 37.9496 17.8939C37.9496 17.531 38.4222 17.2373 39.0045 17.2373H50.6118C51.1942 17.2373 51.6667 17.531 51.6667 17.8939C51.6667 18.2569 51.1975 18.5506 50.6118 18.5506Z" fill="#116FFF"/>
      <path d="M25.3506 23.1503C24.9845 23.1503 24.6884 22.8567 24.6884 22.4937V19.2106C24.6884 18.8476 24.9845 18.554 25.3506 18.554C25.7166 18.554 26.0128 18.8476 26.0128 19.2106V22.4937C26.0128 22.8567 25.7166 23.1503 25.3506 23.1503Z" fill="#116FFF"/>
      <path d="M37.284 17.2341C36.9179 17.2341 36.6218 16.9404 36.6218 16.5775V13.2877C36.6218 12.9248 36.9179 12.6311 37.284 12.6311C37.65 12.6311 37.9462 12.9248 37.9462 13.2877V16.5775C37.9495 16.9404 37.65 17.2341 37.284 17.2341Z" fill="#116FFF"/>
      <path d="M13.4139 17.2341C13.0479 17.2341 12.7517 16.9404 12.7517 16.5775V13.2877C12.7517 12.9248 13.0479 12.6311 13.4139 12.6311C13.78 12.6311 14.0762 12.9248 14.0762 13.2877V16.5775C14.0762 16.9404 13.78 17.2341 13.4139 17.2341Z" fill="#116FFF"/>
    </g>
</template>
