<template>
    <g>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M37.5104 22.5269L28.0309 17.1001V7.68214L28.6778 7.93108C28.7939 7.97256 28.9183 7.99746 29.0344 7.99746C29.4325 7.99746 29.814 7.75682 29.9633 7.35853C30.1623 6.84407 29.9052 6.26322 29.391 6.06407L15.4081 0.69541C15.1759 0.604134 14.9271 0.604134 14.6948 0.69541L0.711894 6.06407C0.197693 6.26322 -0.0594069 6.83577 0.139639 7.35853C0.338684 7.88129 0.919233 8.13022 1.42514 7.93108L2.07204 7.68214V33.5961C2.07204 34.1521 2.51989 34.5918 3.06726 34.5918H12.0492C12.6049 34.5918 13.0444 34.1438 13.0444 33.5961V28.6008H17.0419V33.5961C17.0419 34.1521 17.4898 34.5918 18.0371 34.5918H27.0191H37.0045C37.5602 34.5918 37.9997 34.1438 37.9997 33.5961V23.3981C38.008 23.0413 37.8173 22.7094 37.5104 22.5269ZM18.0455 26.6011H12.0575C11.5018 26.6011 11.0623 27.0491 11.0623 27.5968V32.5921H4.06251V6.91872L15.0432 2.70345L26.0239 6.91872V17.6809V32.6004H19.0407V27.6051C19.0407 27.0491 18.5928 26.6011 18.0455 26.6011ZM36.0175 32.6004H28.0308V19.4069L36.0175 23.979V32.6004Z" fill="#F0AB07"/>
      <rect x="13.0536" y="8.94238" width="3.56377" height="1.18792" fill="#F0AB07"/>
      <rect x="9.48981" y="8.94238" width="2.37585" height="1.18792" fill="#F0AB07"/>
      <rect x="17.8053" y="8.94238" width="3.56377" height="1.18792" fill="#F0AB07"/>
      <rect x="13.0536" y="12.5061" width="3.56377" height="2.37585" fill="#F0AB07"/>
      <rect x="9.48981" y="12.5061" width="2.37585" height="2.37585" fill="#F0AB07"/>
      <rect x="17.8053" y="12.5061" width="3.56377" height="2.37585" fill="#F0AB07"/>
      <rect x="13.0536" y="17.2578" width="3.56377" height="1.18792" fill="#F0AB07"/>
      <rect x="9.48981" y="17.2578" width="2.37585" height="1.18792" fill="#F0AB07"/>
      <rect x="17.8053" y="17.2578" width="3.56377" height="1.18792" fill="#F0AB07"/>
      <rect x="13.0536" y="22.0095" width="3.56377" height="1.18792" fill="#F0AB07"/>
      <rect x="9.48981" y="22.0095" width="2.37585" height="1.18792" fill="#F0AB07"/>
      <rect x="17.8053" y="22.0095" width="3.56377" height="1.18792" fill="#F0AB07"/>
    </g>
</template>
