<template>
    <g>
      <rect x="0.5" y="0.5" width="30.9012" height="16.7219" rx="0.5" stroke="#9B9EB1"/>
      <rect x="4.31104" y="10.0167" width="5.17317" height="0.770516" rx="0.385258" fill="#9B9EB1"/>
      <rect x="10.3463" y="10.0167" width="5.17317" height="0.770516" rx="0.385258" fill="#9B9EB1"/>
      <rect x="16.3817" y="10.0167" width="5.17317" height="0.770516" rx="0.385258" fill="#9B9EB1"/>
      <rect x="22.4171" y="10.0167" width="5.17317" height="0.770516" rx="0.385258" fill="#9B9EB1"/>
      <rect x="18.9683" y="3.08203" width="8.62195" height="3.85258" rx="1" fill="#9B9EB1"/>
    </g>
</template>
