<template>
    <g>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M13.2174 0.783553C12.6939 0.260029 12.0109 0 11.3279 0C10.6448 0 9.95837 0.260029 9.43832 0.783553L0.313038 9.90883L0.0010033 13.6948C-0.0128649 13.8613 0.118883 13.9999 0.281834 13.9999C0.288769 13.9999 0.29917 13.9999 0.306104 13.9999L4.09212 13.6879L13.2174 4.56264C14.261 3.51906 14.261 1.82714 13.2174 0.783553ZM3.71428 12.8732L0.89904 13.102L1.13133 10.2833L8.6167 2.79795L11.2031 5.38437L3.71428 12.8732ZM12.621 3.96629L11.7993 4.78798L9.21291 2.20156L10.0346 1.37987C10.3813 1.03317 10.839 0.845947 11.3278 0.845947C11.8167 0.845947 12.2743 1.03664 12.621 1.37987C13.3352 2.09409 13.3352 3.25208 12.621 3.96629Z" fill="#F0AB07"/>
    </g>
</template>
