<template>
    <g>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2026 14.3481L11.2764 10.8718V5.01114C11.2764 4.67553 10.9662 4.40002 10.5882 4.40002C10.2103 4.40002 9.90002 4.67553 9.90002 5.01114V11.1273C9.90002 11.2074 9.91695 11.2875 9.95079 11.3627C9.98464 11.4378 10.0354 11.5029 10.0975 11.563L14.221 15.2197C14.3564 15.3399 14.5313 15.4 14.7062 15.4C14.881 15.4 15.0559 15.3399 15.1913 15.2197C15.4677 14.9742 15.4677 14.5885 15.2026 14.3481Z" fill="#2E323F"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M11 22C4.93195 22 0 17.0627 0 11C0 4.93726 4.93195 0 11 0C17.0681 0 22 4.93726 22 11C22 17.0627 17.0681 22 11 22ZM11.0004 1.29014C5.64906 1.29014 1.29047 5.64342 1.29047 11.0001C1.29047 16.3567 5.64375 20.71 11.0004 20.71C16.3571 20.71 20.7104 16.3567 20.7104 11.0001C20.7104 5.64342 16.3518 1.29014 11.0004 1.29014Z" fill="#2E323F"/>
    </g>
</template>
