<template>
    <g>
      <path d="M9.71429 33.55L1.34392 37.86C0.857143 38.11 0.412698 38.42 0 38.76C4.87831 42.65 11.1746 45 18.0529 45C24.8783 45 31.1429 42.69 36 38.86C35.5556 38.5 35.0688 38.18 34.5291 37.93L25.5661 33.7C24.4127 33.15 23.6825 32.03 23.6825 30.81V27.49C23.9365 27.22 24.2222 26.87 24.5291 26.46C25.746 24.83 26.6772 23.04 27.3122 21.16C28.4656 20.83 29.3122 19.82 29.3122 18.63V15.08C29.3122 14.3 28.9418 13.6 28.3704 13.11V7.98C28.3704 7.98 29.4815 0 18.0529 0C6.62434 0 7.73545 7.98 7.73545 7.98V13.11C7.16402 13.6 6.79365 14.29 6.79365 15.08V18.63C6.79365 19.56 7.31217 20.39 8.09524 20.86C9.03704 24.72 11.4921 27.49 11.4921 27.49V30.73C11.4921 31.9 10.8042 32.99 9.71429 33.55Z" fill="white"/>
    </g>
</template>
