<template>
    <g>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M21.4248 8.18724H18.7166L20.0635 6.83802C20.9551 5.94333 20.9503 4.49843 20.0587 3.60852C19.6129 3.16357 19.0281 2.94348 18.4433 2.94348C17.8586 2.94348 17.269 3.16835 16.8232 3.6133L12.26 8.18245H0.650517C0.329364 8.18245 0.0753174 8.44081 0.0753174 8.75659V21.4258C0.0753174 21.7464 0.334157 21.9999 0.650517 21.9999H21.4248C21.746 21.9999 22 21.7416 22 21.4258V8.76616C22 8.4456 21.7412 8.18724 21.4248 8.18724ZM17.6429 4.43136C17.8586 4.21606 18.1414 4.10123 18.4434 4.10123C18.7453 4.10123 19.0281 4.21606 19.2438 4.43136C19.4595 4.64666 19.5746 4.92894 19.5746 5.23036C19.5746 5.53179 19.4595 5.81407 19.2438 6.02937L10.6158 14.6653L8.87108 14.8088L9.01008 13.0673L17.6429 4.43136ZM20.8496 20.8613H1.22573V9.34033H11.1096L7.89325 12.5603L7.63441 15.7754C7.62003 15.9237 7.73986 16.0529 7.88846 16.0529C7.89325 16.0529 7.90284 16.0529 7.91242 16.0529L11.1335 15.7802L17.5662 9.34033H20.8448V20.8613H20.8496Z" fill="#2E323F"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M13.4516 18H3.5484C3.24221 18 3 18.225 3 18.5C3 18.7792 3.24678 19 3.5484 19H13.4516C13.7578 19 14 18.775 14 18.5C14 18.225 13.7532 18 13.4516 18Z" fill="#2E323F"/>

    </g>
</template>
