<template>
    <g id="Cliente" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Solicitar-3" transform="translate(-244.000000, -395.000000)">
            <g id="user" transform="translate(244.000000, 395.212909)">
                <path d="M42.0547558,42.656082 C39.0199075,45.9658918 35.2676324,48.5596604 31.0612185,50.1636707 C30.9808997,50.1949304 30.9041465,50.2257993 30.8240154,50.2521746 C28.2984781,51.1891823 25.6158689,51.77237 22.826856,51.9446887 C22.2497995,51.9800512 21.6727429,52.0021283 21.0866787,52.0021283 C20.4754679,52.0021283 19.8642571,51.9800512 19.2575501,51.9401952 C16.884581,51.7901489 14.5924936,51.3351257 12.4066221,50.6233828 C8.14522365,49.231352 4.30831362,46.8450692 1.14585604,43.7253571 C0.755521851,43.3408635 0.369316195,42.9387864 0,42.5322157 C0.377573265,42.1211514 0.780856041,41.7368532 1.20515681,41.3963185 C1.76551157,40.9369972 2.36002057,40.5482054 2.97517224,40.2522157 L11.9438509,35.9258815 L12.461982,35.6785396 L14.337838,34.7724008 L18.6714859,34.0786322 L20.8703059,31.6218198 L20.8703059,31.5112389 L20.9973522,31.5643802 L21.1204576,31.5112389 L21.1204576,31.6218198 L23.3194653,34.0833211 L27.686892,34.7860769 L30.0469126,35.9258815 L30.7727841,36.2750126 L31.0148663,36.3945808 L39.0199075,40.2522157 C40.1235398,40.7867556 41.1545476,41.6086887 42.0547558,42.6029407 C42.0632005,42.6117324 42.0720206,42.6207196 42.0799023,42.6295113 C42.0720206,42.6384985 42.0632005,42.6470949 42.0547558,42.656082 Z" id="Fill-9" fill="#42A4FF"></path>
                <path d="M26.0391375,23.2826466 L16.0075488,23.2826466 L14.337838,34.7724008 C17.0179572,36.1515647 19.4053445,36.823128 21.5,36.7870908 C23.5946555,36.7510536 25.6569529,36.0840489 27.686892,34.7860769 L26.0391375,23.2826466 Z" id="Fill-12" fill="#F1A36D"></path>
                <path d="M30.5600332,14.1026085 C30.1064573,10.4604697 31.7263442,3.58061366 27.644537,1.89454682 C24.2912285,0.508767902 21.7979689,0.536120087 21.0054779,0.58887073 C20.2112979,0.536120087 17.7184136,0.508767902 14.3651051,1.89454682 C10.282735,3.58061366 11.9026219,10.4604697 11.4494213,14.1026085 C10.9956578,17.7451381 13.9685781,26.1830918 15.7661797,29.1181766 C18.0509483,32.8480378 23.9879689,33.0746702 26.5493494,29.283462 C28.4726835,26.4359041 31.0143596,17.7451381 30.5600332,14.1026085" id="Fill-15" fill="#F4B992"></path>
                <path d="M14.8007594,17.2877119 C14.8007594,19.0536862 13.7136411,20.485573 12.3724303,20.485573 C11.0312195,20.485573 10.1983815,19.0337581 9.94410129,17.2877119 C9.65172596,15.2775216 10.1081167,14.0898507 11.4495152,14.0898507 C12.7905383,14.0898507 14.8007594,15.5215422 14.8007594,17.2877119" id="Fill-18" fill="#F4B992"></path>
                <path d="M27.1909424,17.2877119 C27.1909424,19.0536862 28.278436,20.485573 29.6192715,20.485573 C30.9604823,20.485573 31.7931326,19.0337581 32.0477882,17.2877119 C32.3405388,15.2775216 31.8837728,14.0898507 30.5421866,14.0898507 C29.2007882,14.0898507 27.1909424,15.5215422 27.1909424,17.2877119" id="Fill-21" fill="#F4B992"></path>
                <path d="M11.2022159,12.5974373 C11.2022159,12.5974373 12.1255064,17.9889437 12.3300566,17.975463 C12.5353573,17.9613962 12.9024216,17.975463 12.9024216,17.975463 L13.744455,8.99378693 C13.744455,8.99378693 27.1909049,7.75453757 27.1909049,2.63752986 C27.1909049,-1.35217708 15.5354884,-0.502696365 12.0800925,3.09450672 C10.1196015,5.13497973 11.2022159,12.5974373 11.2022159,12.5974373" id="Fill-24" fill="#414040"></path>
                <path d="M31.0957105,12.5974373 C31.0957105,12.5974373 30.4377722,17.7826301 30.2332221,17.7693448 C30.0284843,17.7548872 29.6616077,17.7693448 29.6616077,17.7693448 L28.316456,7.84597202 C28.316456,7.84597202 21.7047954,5.53334477 21.7047954,2.75963783 C21.7047954,-0.53004855 26.7626257,-0.502696365 30.2178339,3.09450672 C32.1775743,5.13497973 31.0957105,12.5974373 31.0957105,12.5974373" id="Fill-27" fill="#414040"></path>
                <path d="M14.337838,34.7860769 C17.4568272,36.1219215 19.6802681,36.7893849 21.0081609,36.7884673 C22.3360536,36.7875496 24.5622973,36.1200862 27.686892,34.7860769 L29.5,35.6785396 C26.8333333,37.7509071 24,38.7870908 21,38.7870908 C18,38.7870908 15.153994,37.7509071 12.461982,35.6785396 L14.337838,34.7860769 Z" id="Path-3" fill="#2F88DA"></path>
            </g>
        </g>
    </g>
</template>
