<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         :width="width"
         :height="height"
         :viewBox="viewbox"
         :aria-labelledby="iconName"
         role="presentation"
    >
        <title :id="iconName">{{iconName}} icon</title>
        <g>
          <slot />
        </g>
  </svg>
</template>

<script>
    export default {
        props: {
            iconName: {
                type: String,
                default: 'cat'
            },
            width: {
                type: [Number, String],
                default: 100
            },
            viewbox: {
                type: [Number, String],
                default: '0 0 43 43'
            },
            height: {
                type: [Number, String],
                default: 100
            }
        }
    }
</script>