<template>
  <div>
    <adm-template>
      <form-core
        v-on:onSubmit="onSubmitPadrao"
        v-on:onReset="onReset"
        v-on:onIrParaLista="onIrParaLista"
        v-on:onDelete="onDelete"
        :registroId="form.id"
      >
        <b-row class="p-5">

          <b-col cols="12" sm="6">
            <form-group :validator="$v.form.nome" label="Nome">
              <b-form-input
                slot-scope="{ attrs, listeners }"
                placeholder="Roberto da Silva"
                v-bind="attrs"
                v-on="listeners"
                v-model="form.nome"
              />
            </form-group>
          </b-col>

          <b-col cols="12" sm="6">
            <form-group :validator="$v.form.cpf" label="CPF">
              <b-form-input
                      type="tel"
                      v-mask="['###.###.###-##']"
                      slot-scope="{ attrs, listeners }"
                      placeholder="000.000.000-00"
                      v-bind="attrs"
                      v-on="listeners"
                      v-model="form.cpf"
              />
            </form-group>
          </b-col>

          <b-col cols="12" sm="6">
            <form-group :validator="$v.form.data_nascimento" label="Data de Nascimento">
              <b-form-input
                      type="date"
                      slot-scope="{ attrs, listeners }"
                      placeholder="01/02/1990"
                      v-bind="attrs"
                      v-on="listeners"
                      v-model="form.data_nascimento"
              />
            </form-group>
          </b-col>

          <b-col cols="12" sm="6">
            <form-group :validator="$v.form.email" label="E-mail">
              <b-form-input
                      slot-scope="{ attrs, listeners }"
                      placeholder="jose@pereira.com"
                      type="email"
                      autocomplete="off"
                      v-bind="attrs"
                      v-on="listeners"
                      v-model="form.email"
              />
            </form-group>
          </b-col>

          <b-col cols="12" sm="6">
            <form-group :validator="$v.form.telefone" label="Telefone">
              <b-form-input
                      v-mask="['(##) ####-####', '(##) #####-####']"
                      slot-scope="{ attrs, listeners }"
                      placeholder="(63) 3200-0000"
                      v-bind="attrs"
                      v-on="listeners"
                      v-model="form.telefone"
              />
            </form-group>
          </b-col>

        </b-row>
      </form-core>
    </adm-template>
  </div>
</template>
<script src="./AlunoForm.js"></script>
