<template>
    <div>
        <adm-template>
            <grid-core :colunasGrid="colunasGrid" :model="modelPadrao" :buscaItensPersonalizado="buscaItensPersonalizado"></grid-core>
        </adm-template>
    </div>
</template>
<script src="./AlunoGrid.js"></script>
