<template>
    <!-- <b-collapse is-nav id="nav_collapse" class="ml-2">
        <b-navbar-nav>
            <b-nav-item :to="{name:'atendimentoGrid'}" exact>
                Atendimentos
            </b-nav-item>
            <b-nav-item :to="{name:'exameGrid'}" exact>
                Exames
            </b-nav-item>
            <b-nav-item :to="{name:'online'}" exact>
                Técnicos Online
            </b-nav-item>
        </b-navbar-nav>
    </b-collapse> -->
</template>
