<template>
    <b-col cols="12" :sm="item.opcoes ? 'auto': '6'" v-if="item.tipo">

    <b-form-group :label="item.label + (item.obrigatorio ? ' *' : '')" v-if="item.tipo === 'texto' && !item.estilo" v-b-tooltip.hover.left :title="item.descricao">
      <b-form-input
        v-model="item.valor"
        @update="alterarInputTimeout"
        @blur="alterarInputTimeout"
        :state="this.$v['item.valor'].$dirty ? (!item.obrigatorio || Boolean(item.valor)) : null"
        :placeholder="item.placeholder"
        :disabled="travado"
        trim
      ></b-form-input>
    </b-form-group>

    <!-- DATE QUE USA PARAMENTRO SEARCH -->
    <b-form-group :label="item.label + (item.obrigatorio ? ' *' : '')" v-if="item.tipo === 'date' && !item.estilo && !item.searchExterno" v-b-tooltip.hover.left :title="item.descricao">
        <b-form-input
                type="date"
                v-model="item.valor"
                @update="alterarInputTimeout"
                @blur="alterarInputTimeout"
                :state="this.$v['item.valor'].$dirty ? (!item.obrigatorio || Boolean(item.valor)) : null"
                :placeholder="item.placeholder"
                :disabled="travado"
                trim
        ></b-form-input>
    </b-form-group>

    <!-- DATE PARAMENTRO DIRETO, SEM SEARCH -->
    <b-form-group :label="item.label + (item.obrigatorio ? ' *' : '')" v-if="item.tipo === 'date' && !item.estilo && item.searchExterno" v-b-tooltip.hover.left :title="item.descricao">
        <b-form-input
                type="date"
                v-model="item.valor"
                @update="alterarInputTimeoutParams"
                @blur="alterarInputTimeoutParams"
                :state="this.$v['item.valor'].$dirty ? (!item.obrigatorio || Boolean(item.valor)) : null"
                :placeholder="item.placeholder"
                :disabled="travado"
                trim
        ></b-form-input>
    </b-form-group>

    <!-- CPF -->
    <b-form-group :label="item.label + (item.obrigatorio ? ' *' : '')" v-if="item.tipo === 'cpf'" v-b-tooltip.hover.left :title="item.descricao">
        <b-form-input
                v-mask="['###.###.###-##']"
                v-model="item.valor"
                @update="alterarInputTimeout"
                @blur="alterarInputTimeout"
                :state="this.$v['item.valor'].$dirty ? (!item.obrigatorio || Boolean(item.valor)) : null"
                :placeholder="item.placeholder"
                :disabled="travado"
                trim
        ></b-form-input>
    </b-form-group>

    <b-form-group :label="item.label + (item.obrigatorio ? ' *' : '')" v-if="item.tipo === 'texto' && item.estilo && item.estilo.id !== 3" v-b-tooltip.hover.left :title="item.descricao">
      <the-mask
        class="form-control"
        v-model="item.valor"
        :state="this.$v['item.valor'].$dirty ? (!item.obrigatorio || Boolean(item.valor)) : null"
        :mask="item.estilo.conteudo"
        :disabled="travado"
        trim
      ></the-mask>
    </b-form-group>

    <b-form-group :label="item.label + (item.obrigatorio ? ' *' : '')" v-if="item.tipo === 'texto' && item.estilo && item.estilo.id === 3" v-b-tooltip.hover.left :title="item.descricao">
      <b-form-input
        v-model="item.valor"
        :state="this.$v['item.valor'].$dirty ? (!item.obrigatorio || Boolean(item.valor)) : null"
        :placeholder="item.placeholder"
        type="email"
        :disabled="travado"
        trim
      ></b-form-input>
    </b-form-group>

    <b-form-group :label="item.label + (item.obrigatorio ? ' *' : '')" v-if="item.tipo === 'data'" v-b-tooltip.hover.left :title="item.descricao">
      <date-picker
        v-model="item.valor"
        :state="this.$v['item.valor'].$dirty ? (!item.obrigatorio || Boolean(item.valor)) : null"
        :config="options"
        :disabled="travado"
      ></date-picker>
    </b-form-group>

    <b-form-group :label="item.label + (item.obrigatorio ? ' *' : '')" v-if="item.tipo === 'numerico' && !item.estilo" v-b-tooltip.hover.left :title="item.descricao">
      <b-form-input
        v-model="item.valor"
        type="number"
        :state="this.$v['item.valor'].$dirty ? (!item.obrigatorio || Boolean(item.valor)) : null"
        :placeholder="item.placeholder"
        :disabled="travado"
        trim
      ></b-form-input>
    </b-form-group>

    <b-form-group :label="item.label + (item.obrigatorio ? ' *' : '')" v-if="item.tipo === 'numerico' && item.estilo && item.estilo.id == 4" v-b-tooltip.hover.left :title="item.descricao">
      <money
        class="form-control"
        v-model="item.valor"
        :state="this.$v['item.valor'].$dirty ? (!item.obrigatorio || Boolean(item.valor)) : null"
        :disabled="travado"
        trim
      ></money>
    </b-form-group>

    <b-form-group :label="item.label + (item.obrigatorio ? ' *' : '')" v-if="item.tipo === 'area-texto'" v-b-tooltip.hover.left :title="item.descricao">
      <b-form-textarea
        v-model="item.valor"
        :state="this.$v['item.valor'].$dirty ? (!item.obrigatorio || Boolean(item.valor)) : null"
        :placeholder="item.placeholder"
        :disabled="travado"
        trim
      ></b-form-textarea>
    </b-form-group>

    <b-form-group :label="item.label + (item.obrigatorio ? ' *' : '')" v-if="item.tipo === 'selecao-unica'" :state="this.$v['item.valor'].$dirty ? (!item.obrigatorio || Boolean(item.valor)) : null" v-b-tooltip.hover.left :title="item.descricao">
      <b-form-radio-group buttons size="md">
        <b-form-radio
          :id="'opcao-' + opcao.id"
          button-variant="outline-info"
          v-for="(opcao,index) in item.opcoes"
          :key="index"
          :value="opcao.id"
          v-model="item.valor"
          style="border-radius: 0.375rem"
          class="mr-1"
          @input="alterarSelectTimeout"
          :disabled="travado"
        >{{opcao.valor}}</b-form-radio>
      </b-form-radio-group>
    </b-form-group>

    <b-form-group :label="item.label + (item.obrigatorio ? ' *' : '')" v-if="item.tipo === 'selecao-multipla'" v-b-tooltip.hover.left :title="item.descricao">
      <b-form-checkbox-group v-model="item.valor">
        <b-form-checkbox
          v-for="(opcao,index) in item.opcoes"
          :value="opcao.id"
          :key="index"
          :disabled="travado"
          @input="alterarSelectTimeout"
        >{{opcao.valor}}</b-form-checkbox>
      </b-form-checkbox-group>
    </b-form-group>

  </b-col>
</template>

<script src='./GridItemBusca.js'></script>