<template>
  <b-card no-body data-toggle="lists">
    <div class="card-header">
      <b-row class="align-items-center">
        <b-col class="text-right">
          <b-button size="sm" variant="light" v-b-toggle.opcoesComputador>Busca avançada</b-button>
        </b-col>
      </b-row>
    </div>

    <b-collapse id="opcoesComputador" class="mt-3">
      <b-row class="mx-2">
        <grid-item-busca
          v-for="item in colunasGrid"
          :key="item.key"
          :item="item"
          :buscaItens="buscaItens"
          v-on:buscarGrid="buscarGrid"
        ></grid-item-busca>
      </b-row>

      <b-container>
        <b-row class="pb-3">
          <b-col class="text-center" cols="2">
            <b-spinner v-if="buscando"></b-spinner>
            <b-button v-else @click="buscarGrid" size="md" block variant="light">Buscar</b-button>
          </b-col>
        </b-row>
      </b-container>
    </b-collapse>

    <b-table
      responsive
      show-empty
      empty-text="Sem resultados"
      empty-filtered-text="Sem resultados para esta busca"
      @sort-changed="atualizarSort"
      :busy.sync="grid.carregandoTabela"
      hover
      :items="dadosItens"
      :fields="colunasGrid"
      class="card-table"
      :small="true"
      :per-page="porPagina"
      :no-local-sorting="true"
    >
      <template slot="empty">
        <div v-if="grid.carregandoTabela" class="text-center">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Carregando...</span>
          </div>
        </div>
        <div v-else class="text-center">Sem Registros</div>
      </template>

      <template slot="acoes" slot-scope="data">
        <b-button
          variant="outline-info"
          size="sm"
          :to="{name:(model.routeName+'Editar'), params: paramentro2 ?{'id': paramentro2, 'id2':data.item.id} : {'id':data.item.id} }"
          class="mr-1"
        >{{NovoNomeButtonEditar ? NovoNomeButtonEditar: 'Editar'}}</b-button>
      </template>

      <template slot="ativo" slot-scope="data">
        <badge-ativo :item="data.item"></badge-ativo>
      </template>

      <template slot="created_at" slot-scope="data">{{data.item.created_at | dataComHora}}</template>

      <template slot="updated_at" slot-scope="data">{{data.item.updated_at | dataComHora}}</template>

      <template slot="cpf" slot-scope="data">{{data.item.cpf | mascaraCPF}}</template>

      <template slot="data" slot-scope="data">{{data.item.data | data}}</template>

      <template slot="data_matricula" slot-scope="data">{{data.item.data_matricula | data}}</template>

      <template slot="roles.id" slot-scope="data">
        <template v-for="role in data.item.roles.data">{{role.name}};</template>
      </template>

      <template slot="roles.name" slot-scope="data">
        <template v-for="role in data.item.roles.data">{{role.name}};</template>
      </template>

      <template slot="status" slot-scope="data">
        {{statusValue(data.item.status)}}
      </template>

      <template slot="id" slot-scope="data">
        <b-badge variant="success" class="text-white" pill>
          <h5 class="m-0"><b>{{data.item.id}}</b></h5>
        </b-badge>
      </template>
      
      <template slot="situacao" slot-scope="data">
        <b-badge
          v-if="data.item.situacao == 'Ativo' || data.item.situacao == 'Ativa'"
          variant="primary"
          class="text-white"
          pill
        >{{data.item.situacao}}</b-badge>
        <b-badge
          v-else-if="data.item.situacao == 'Bloqueado'"
          variant="danger"
          class="text-white"
          pill
        >{{data.item.situacao}}</b-badge>
      </template>

    </b-table>
    <b-row class="justify-content-center align-items-center" align-self="Center">
      <b-col cols="auto" class="justify-content-center">
        <p class="text-muted m-0">
          <small>
            {{grid.carregandoTabela?'Buscando':'Mostrando'}}
            {{(grid.filtrosGrid.page*grid.filtrosGrid.porPagina)-(grid.filtrosGrid.porPagina)+(totalResultados>0?1:0)}} -
            {{(grid.filtrosGrid.page*grid.filtrosGrid.porPagina)>totalResultados?totalResultados:(grid.filtrosGrid.page*grid.filtrosGrid.porPagina)}}
            de: {{totalResultados}}
            <b-spinner
              style="opacity:0"
              label="Spinning"
              class="float-right"
              small
              v-show="!grid.carregandoTabela"
            ></b-spinner>
            <b-spinner
              variant="success"
              type="grow"
              label="Carregando"
              class="float-right"
              small
              v-show="grid.carregandoTabela"
            ></b-spinner>
          </small>
        </p>
      </b-col>
      <b-col cols="12" md="4" class="text-center">
        <b-pagination
          number-of-pages="5"
          :total-rows="totalResultados"
          :per-page="grid.filtrosGrid.porPagina"
          v-model="grid.filtrosGrid.page"
          class="my-2"
          @input="buscarGrid()"
        />
      </b-col>
    </b-row>
  </b-card>
</template>
<script src="./GridCore.js"></script>
