<template>
  <div>
    <div class="bg-white">
      <b-navbar
        class="border-0"
        toggleable="lg"
        id="active"
        style="box-shadow: 0px 1px 4px rgba(27, 28, 30, 0.07);"
      >
        <b-container>
          <b-nav-item-dropdown left>
            <template slot="button-content">
              <em>
                <font-awesome-icon size="lg" icon="bars" :style="{ color: '#42A4FF'}" />
              </em>
            </template>
            <b-dropdown-item
              style="`list-style-type:none`"
              v-for="(elemento,index) in menus"
              :key="index"
              :to="elemento.path"
            >{{elemento.titulo}}</b-dropdown-item>
          </b-nav-item-dropdown>

          <adm-template-menu></adm-template-menu>

          <b-navbar-brand href="/" class="mr-auto ml-auto">
            <b-img
              class="navbar-brand-img mr-n3"
              style="max-height: 4rem;"
              :src="empresa.logo"
              :alt="empresa.nome"
            />
          </b-navbar-brand>

          <b-dropdown id="ddown-right" right variant="rounded-circle" class="order-lg-last">
            <template slot="button-content">
              <template v-if="usuario.foto == null || usuario.foto == ''">
                <icon-base
                  class="m-md-2 avatar avatar-img avatar-sm rounded-circle show order-lg-last"
                  viewbox="0 0 43 45"
                  width="105px"
                  height="140"
                  icon-name="user"
                >
                  <icon-user />
                </icon-base>
              </template>
              <b-img
                v-else
                :src="usuario.foto"
                class="m-md-2 avatar avatar-img avatar-sm rounded-circle show order-lg-last"
              ></b-img>
            </template>
            <b-dropdown-item :to="{name: 'perfil'}">Minha Conta</b-dropdown-item>
            <b-dropdown-item v-on:click="sair()">Sair</b-dropdown-item>
          </b-dropdown>
        </b-container>
      </b-navbar>
    </div>

    <b-container>
      <div class="mt-md-2" v-if="cabecalho.mostrar">
        <div class="py-4">
          <b-row>
            <b-col>
              <h6 class="header-pretitle">{{cabecalho.preTitulo}}</h6>
              <h1 class="header-title">
                <b>{{cabecalho.titulo}}</b>
              </h1>
            </b-col>

            <b-col cols="auto">
              <b-button
                v-if="$store.state.botaoTopo.texto!=''"
                variant="secondary"
                :to="{'name':$store.state.botaoTopo.routeName}"
                right
              >{{$store.state.botaoTopo.texto}}</b-button>
            </b-col>

            <b-col cols="auto" v-if="buttonPersonalizado">
              <b-button variant="secondary" @click="funcButton()" right>{{textButton}}</b-button>
            </b-col>

            <b-col cols="auto" v-if="buttonPersonalizado2">
              <b-button variant="secondary" @click="funcButton2()" right>{{textButton2}}</b-button>
            </b-col>

            <b-col cols="auto" v-if="confButtonCustom">
              <b-spinner v-if="confButtonCustom.carregando"></b-spinner>

              <b-dropdown v-else variant="secondary" :text="confButtonCustom.text" class="m-md-2">
                <b-dropdown-item
                  v-for="(item, index) in confButtonCustom.botao"
                  :key="index"
                  @click="funBtnDropdown(item.tipo)"
                >{{item.text}}</b-dropdown-item>
              </b-dropdown>
            </b-col>
          </b-row>
        </div>
      </div>
      <slot />
    </b-container>

    <div class="text-center py-3">
      <small>
        Desenvolvido por
        <a class="text-secondary" href="https://softseeds.com.br/">Iury Nascimento</a>
      </small>
    </div>
  </div>
</template>

<script src="./AdmTemplate.js"></script>
