<template>
  <b-container fluid>
    <b-row class="bg-login align-items-center justify-content-center bg-white border-top border-top-2 border-primary vh-100">
      <slot />
    </b-row>
  </b-container>
</template>

<script src="./LoginTemplate.js"></script>
