//
// user.scss
// Use this to write your custom SCSS
//

li.b-nav-dropdown{
    list-style-type: none;
  }

  .dropdown-toggle {
    &::after {
      content: none;
    }
  }

fieldset.submirLabel legend{
  display:none;

}

.avatar-online .avatar-img{
  // url('~@/assets/img/bg_buscandotecnico.jpg');
  mask-image: url('~@/core/assets/img/masks/avatar-status.svg') !important;
}
