<template>
  <div id="app">
    <router-view />
    <notifications group="padrao" position="top center" />
  </div>
</template>

<style lang="scss">
@import "./src/core/assets/scss/theme.scss";
</style>
