<template>
  <div>
    <span v-if="item.ativo" class="badge badge-soft-primary">Ativo</span>
    <span v-if="!item.ativo" class="badge badge-soft-secondary">Inativo</span>
  </div>
</template>

<script>
export default {
  name: "BadgeAtivo",
  props: ["item"]
};
</script>