<template>
  <div>
    <b-form>
      <b-card no-body data-toggle="lists" v-if="ocultarcard!=true">
        <slot></slot>
        <b-row class="p-5" v-if="ocultarButton!=true">
          <b-col cols="12" sm="3">
            <b-button @click="onSubmitInterno" variant="outline-success" block>Salvar</b-button>
          </b-col>

          <b-col cols="12" sm="3" v-if="ocultarButtonListar!=true">
            <b-button @click="onIrListaInterno" variant="outline-secondary" block>Listar</b-button>
          </b-col>

          <b-col cols="6" sm="3">
            <b-button @click="onResetInterno" variant="outline-info" block>Limpar</b-button>
          </b-col>

          <b-col cols="6" sm="3" v-if="registroId">
            <b-button v-b-modal.excluir variant="outline-danger" block>Excluir</b-button>
          </b-col>
        </b-row>
      </b-card>
      <slot v-else></slot>
    </b-form>

    <b-modal id="excluir" size="sm" hide-footer scrollable centered>
      <template slot="modal-header" slot-scope="{ close }">
        <h1 class="text-center m-0">
          <b>Tem certeza que deseja excluir?</b>
        </h1>
        <b-button size="sm" class="close float-right" pill variant="secondary" @click="close()">
          <font-awesome-icon size="sm" icon="times" />
        </b-button>
      </template>

      <b-row slot-scope="{ close }">
        <b-col class="pr-1">
          <b-button block size="lg" variant="outline-secondary" @click="close()">NÃO</b-button>
        </b-col>
        <b-col class="pl-1">
          <b-button block size="lg" variant="danger" @click="onDeleteInterno(); close()">
            <strong>SIM</strong>
          </b-button>
        </b-col>
      </b-row>
    </b-modal>
  </div>
</template>
<script src="./FormCore.js"></script>
