<template>
  <component :is="templateAgil ? templateAgil : 'div'">
    <div class="header">
      <div class="header-body header-tabs">
        <b-row align-v="center">
          <b-col cols="auto">
            <b-button variant="outline-default" class="text-left">
              <div
                class="avatar avatar-xxl header-avatar-top justify-content-center align-self-center"
              >
                <form-group style="opacity:0;top:0;" class="position-absolute align-top ml-n3">
                  <b-form-file
                    name="foto"
                    v-model="form.foto"
                    slot-scope="{ attrs, listeners }"
                    v-bind="attrs"
                    v-on="listeners"
                    type="file"
                    @change="previewImage"
                    accept="image/*"
                    browse-text="Procurar"
                  ></b-form-file>
                </form-group>
                <icon-base
                  v-if="form.foto == null || form.foto == ''"
                  class="mt-1 d-flex justify-content-center"
                  viewbox="0 0 43 45"
                  width="105px"
                  height="140"
                  icon-name="user"
                >
                  <icon-user />
                </icon-base>
                <img
                  v-else
                  :src="form.foto"
                  class="avatar-img rounded-circle border border-4 border-body"
                />
              </div>
            </b-button>
          </b-col>
          <b-col class="mb-3 ml-n3 ml-md-n2">
            <h6 class="header-pretitle">Perfil</h6>
            <h1 class="header-title mb-0">{{usuario.nome}}</h1>
          </b-col>
          <b-col cols="12" md="auto" class="mt-2 mt-md-0 mb-md-3">
            <b-button
              v-on:click="sair()"
              variant="danger"
              block
              class="d-block d-md-inline-block"
            >Sair</b-button>
          </b-col>
        </b-row>
      </div>
    </div>

    <b-row class="align-items-center mt-4">
      <b-col>
        <b-card class="mb-4">
          <b-row>
            <b-col cols="12" md="6" class="mt-4">
              <label>Nome</label>
              <b-input type="text" v-model="form.nome" placeholder="Nome" />
            </b-col>

            <b-col cols="12" md="6" class="mt-4">
              <label>Email</label>
              <b-input type="email" v-model="form.email" placeholder="exemplo@email.com.br" />
            </b-col>

            <b-col cols="12" md="6" class="mt-4">
              <label>Telefone</label>
              <b-input
                v-mask="['(##) ####-####', '(##) #####-####']"
                v-model="form.celular"
                placeholder="(99) 99999-9999"
              />
            </b-col>

            <b-col cols="12" md="6" class="mt-4">
              <form-group label="Foto Perfil">
                <b-form-file
                  name="foto"
                  v-model="form.foto"
                  placeholder="Escolha uma foto..."
                  drop-placeholder="Solte a foto aqui..."
                  type="file"
                  @change="previewImage"
                  accept="image/*"
                  browse-text="Procurar"
                ></b-form-file>
              </form-group>
            </b-col>

            <b-col cols="12" md="6" class="mt-4 justify-content-center align-self-center">
              <b-row>
                <b-col cols="12" class="ml-mb-n2 mb-2">
                  <small>Precisa alterar sua Senha?</small>
                </b-col>
                <b-col cols="12">
                  <div class="custom-control custom-switch pl-0">
                    <b-form-checkbox switch name="check-button" v-model="checked">
                      <small class="text-muted">Selecione esta opção</small>
                    </b-form-checkbox>
                  </div>
                </b-col>
              </b-row>
            </b-col>

            <b-col
              cols="12"
              md="12"
              class="mt-2 justify-content-center align-self-center"
              v-if="checked"
            >
              <hr />
              <b-row>
                <b-col cols="12" md="6" class="ml-n2 mb-2">
                  <b-col cols="12" class="mt-4">
                    <form-group :validator="$v.form.senha_antiga" label="Senha Antiga">
                      <b-form-input
                        slot-scope="{ attrs, listeners }"
                        placeholder="*******"
                        autocomplete="off"
                        type="password"
                        v-bind="attrs"
                        v-on="listeners"
                        v-model="form.senha_antiga"
                      />
                    </form-group>
                  </b-col>

                  <b-col cols="12" class="mt-4">
                    <form-group :validator="$v.form.senha" label="Nova Senha">
                      <b-form-input
                        slot-scope="{ attrs, listeners }"
                        placeholder="*******"
                        autocomplete="off"
                        type="password"
                        v-bind="attrs"
                        v-on="listeners"
                        v-model="form.senha"
                      />
                    </form-group>
                  </b-col>

                  <b-col cols="12" class="mt-4">
                    <form-group :validator="$v.form.confirmarSenha" label="Confirmar Senha">
                      <b-form-input
                        slot-scope="{ attrs, listeners }"
                        placeholder="*******"
                        type="password"
                        autocomplete="off"
                        v-bind="attrs"
                        v-on="listeners"
                        v-model="form.confirmarSenha"
                      />
                    </form-group>
                  </b-col>

                  <b-col cols="12" class="mt-4">
                    <b-form-checkbox
                      switch
                      name="check-button"
                      v-model="form.senha_por_email"
                      value="1"
                      unchecked-value="0"
                    >
                      <small class="text-muted">Enviar Senha por e-mail?</small>
                    </b-form-checkbox>
                  </b-col>
                </b-col>
                <b-col cols="12" md="6" class="ml-n2 mb-2 mt-4">
                  <b-card class="bg-light border">
                    <p>Requisitos de senha</p>
                    <ul class="small text-muted pl-4 mb-0">
                      <li>Mínimo 6 caracteres</li>
                      <li>Pelo menos um numero</li>
                      <li>Pelo menos um caractere especial</li>
                    </ul>
                  </b-card>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
          <b-button @click="onSubmitSenha()" class="mt-4" variant="primary">Salvar</b-button>
        </b-card>
      </b-col>
    </b-row>
  </component>
</template>

<script src="./Perfil.js"></script>
