<template>
  <login-template>
    <b-col col xl="7" lg="6" md="7" class="d-none d-lg-block">
      <div class="vh-100 mt-n1 ml-n3 alert-light d-flex align-items-center login-left">
        <div class="px-xl-8 px-lg-6 text-center">
          <b-img
            :src="$store.state.empresa.logo"
            :alt="$store.state.empresa.nome"
            class="ml-n3 mb-5 img-fluid"
          />
          <p class="text-muted">{{$store.state.empresa.descricaoLogin}}</p>
          <small class="text-muted">
            {{$store.state.empresa.descricaoRodape}}
            <div>Todos os direitos reservados.</div>
          </small>
        </div>
      </div>
    </b-col>

    <b-col cols="10" xl="5" lg="6" md="5" class="px-lg-7 my-5">
      <p>
        <b-img
          :src="$store.state.empresa.logo"
          :alt="$store.state.empresa.nome"
          class="mb-5 w-70 d-block d-sm-none img-fluid"
        />
      </p>

      <h1 class="display-4 mb-1">Entrar</h1>
      <p class="text-muted mb-4">{{$store.state.empresa.nome}}</p>

      <b-form>
        <form-group :validator="$v.form.login" label="Login">
          <b-form-input
            slot-scope="{ attrs, listeners }"
            v-bind="attrs"
            v-on="listeners"
            v-model="form.login"
          />
        </form-group>

        <form-group :validator="$v.form.senha" label="Senha">
          <b-form-input
            type="password"
            slot-scope="{ attrs, listeners }"
            v-bind="attrs"
            v-on:keyup.enter="efetuarLogin"
            v-on="listeners"
            v-model="form.senha"
          />
        </form-group>

        <b-button
          type="button"
          @click="efetuarLogin"
          variant="primary"
          class="btn-lg btn-block mb-3 btn-entrar"
        >Entrar</b-button>
      </b-form>
    </b-col>
  </login-template>
</template>

<script src="./Login.js"></script>
