<template>
  <div>
    <adm-template>
      <form-core
        v-on:onSubmit="onSubmitPadrao"
        v-on:onReset="onReset"
        v-on:onIrParaLista="onIrParaLista"
        v-on:onDelete="onDelete"
        :registroId="form.id"
      >
        <b-row class="pt-5 px-5">
          <b-col cols="12" sm="12">
            <form-group :validator="$v.form.nome" label="Nome">
              <b-form-input
                slot-scope="{ attrs, listeners }"
                placeholder="Administração"
                v-bind="attrs"
                v-on="listeners"
                v-model="form.nome"
              />
            </form-group>
          </b-col>
        </b-row>
      </form-core>
    </adm-template>
  </div>
</template>
<script src="./CursoForm.js"></script>
